*,::after,::before{box-sizing:border-box;-webkit-tap-highlight-color:transparent;}blockquote,body,dd,dl,figure,h1,h2,h3,h4,p{margin:0}ol[role=list],ul[role=list],li{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}
* em{
  font-style: normal !important;
}
@mixin sm {@media (min-width: 576px) {@content;}} //landscape phones
@mixin md {@media (min-width: 768px) {@content;}} //tablets
@mixin lg {@media (min-width: 992px) {@content;}} //desktops
@mixin xl {@media (min-width: 1200px) {@content;}} //large desktops
@mixin xxl {@media (min-width: 1920px) {@content;}} //larger desktops

// :root *{
  // transition: color, background-color .3s cubic-bezier(0.11, 0, 0.5, 0);
// }
:root {
  //颜色
  --primary-text-color: #222222;
  --secondary-text-color: #444444;
  --tertiary-text-color: #757575;
  --code-text-color: #EB5757;
  --divider-color: #E6E6E6;
  --button-color: #EEEEEE;
  --button-hover-color: #E6E6E6;
  --button-active-color: #DBDBDB;
  --pre-bg-color: #EEEEEE;
  --copied-text-color: green;
  --project-bg-color: #FFFFFF;
  --project-tags-color: #F7F7F7;
  --background-color: #F7F7F7;

  //字体相关
  --font-size-h1: 60px;
  --font-size-blog-title: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 28px;
  --font-size-h4: 22px;
  --font-size-p: 18px;
  --font-size-sub: 16px;
  --font-size-footer: 14px;
  --line-height-sm: 1.2;
  --line-height-md: 1.4;
  --line-height-lg: 1.8;
  
  //布局
  --container-width-md: 768px;
  --container-width-xl: 1080px;
  --spacing-xxs: 12px;
  --spacing-xs: 24px;
  --spacing-sm: 32px;
  --spacing-md: 48px;
  --spacing-lg: 56px;
  --article-margin-sm: 10px;
  --article-margin-md: 30px;
  --article-margin-lg: 45px;
  --article-margin-xl: 60px;

  //样式
  --nav-shadow: rgba(0,0,0,.15);
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
}
:root .dark {
  //颜色
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #D9D9D9;
  --tertiary-text-color: #999999;
  --code-text-color: #f05656;
  --divider-color: #333333;
  --button-color: #292929;
  --button-hover-color: #333333;
  --button-active-color: #262626;
  --pre-bg-color: #262626;
  --copied-text-color: #64A838;
  --project-bg-color: #262626;
  --project-tags-color: #333333;
  --background-color: #1A1A1A;

  //样式
  --nav-shadow: rgba(255,255,255,.15);

  // Logo
  .box-logo {
    background-image: url("data:image/svg+xml,%3Csvg width='174' height='80' viewBox='0 0 174 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h174v80H0z'/%3E%3Cpath d='M37.092 50.472c.447 0 .819.156 1.117.47.298.312.447.677.447 1.095v3.22c0 .416-.15.782-.447 1.095-.298.313-.67.47-1.117.47H17.564a1.5 1.5 0 0 1-1.095-.47A1.502 1.502 0 0 1 16 55.256V25.565c0-.417.156-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h3.351a1.5 1.5 0 0 1 1.095.47c.313.313.47.678.47 1.095v24.907h14.612zm31.573 3.935c.327.506.342 1.043.044 1.61-.298.536-.745.804-1.34.804h-4.022c-.566 0-.998-.238-1.296-.715l-6.703-10.687h-7.91v9.837c0 .417-.156.783-.469 1.096a1.5 1.5 0 0 1-1.094.47h-3.352a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.469-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h14.21c3.426 0 6.197.969 8.312 2.907 2.145 1.967 3.217 4.62 3.217 7.959 0 2.146-.469 3.987-1.407 5.522-.939 1.535-2.316 2.69-4.134 3.466a3.72 3.72 0 0 1-.357.156 3.72 3.72 0 0 0-.358.157l6.659 10.24zM47.439 39.114h8.713c2.562 0 4.305-.73 5.229-2.191.298-.537.447-1.222.447-2.057 0-1.401-.462-2.504-1.386-3.31-1.013-.834-2.383-1.251-4.11-1.251h-8.893v8.809zm44.353-13.996a14.713 14.713 0 0 1 4.87 3.309c3.099 3.16 4.648 7.154 4.648 11.984 0 4.829-1.55 8.823-4.648 11.983a14.599 14.599 0 0 1-10.546 4.427H73.604a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.095V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h12.512c.984 0 1.952.097 2.905.29.953.194 1.877.47 2.77.828zM78.52 50.516h7.462c2.622 0 4.752-.969 6.39-2.906 1.639-1.908 2.458-4.308 2.458-7.2 0-2.891-.819-5.29-2.458-7.199-1.638-1.937-3.768-2.906-6.39-2.906H78.52v20.211zm30.41-1.296c.418 0 .783.149 1.095.447.313.298.47.67.47 1.118v4.65c0 .417-.157.782-.47 1.095a1.5 1.5 0 0 1-1.094.47h-4.067c-.447 0-.819-.157-1.117-.47a1.54 1.54 0 0 1-.447-1.095v-4.65c0-.448.15-.82.447-1.118.298-.298.67-.447 1.117-.447h4.067zM119.234 24a1.5 1.5 0 0 1 1.095.47c.312.313.469.678.469 1.095v29.691c0 .417-.157.783-.47 1.096a1.5 1.5 0 0 1-1.094.47h-3.352a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h3.352zm37.203 0a1.5 1.5 0 0 1 1.095.47c.313.313.469.678.469 1.095v29.691c0 .417-.156.783-.47 1.096a1.5 1.5 0 0 1-1.094.47h-3.351a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.47-1.096V35.224l-8.222 10.552c-.298.388-.7.582-1.206.582-.507 0-.909-.194-1.207-.582l-8.4-10.597v20.077c0 .417-.157.783-.47 1.096a1.5 1.5 0 0 1-1.095.47h-3.351a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.095-.47h3.888c.506 0 .923.209 1.25.626l9.385 12.43 9.205-12.43c.268-.417.685-.626 1.251-.626h3.888z' fill='rgba(238,238,238,1)'/%3E%3C/g%3E%3C/svg%3E");
    }
  .zoom-overlay{
    background: #2C2C2E;
    }
  .icon-menu{
    background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath d='M0 8h48v4H0V8zm0 14h48v4H0v-4zm0 14h48v4H0v-4z' fill='rgba(238,238,238,1)' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
    }
  .icon-close{
    background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill-rule='nonzero' d='M24 21.172l14.9-14.9L41.728 9.1 26.828 24l14.9 14.9-2.828 2.828-14.9-14.9-14.9 14.9L6.272 38.9l14.9-14.9-14.9-14.9L9.1 6.272z' fill='rgba(238,238,238,1)' /%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
  }
  .icon-forward{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 3v2H5v14h14v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6zm7.707 4.707L12 13.414 10.586 12l5.707-5.707L13 3h8v8l-3.293-3.293z' fill='rgba(238,238,238,1)' /%3E%3C/svg%3E") no-repeat center;}
}

html,
body {
  font-family: -apple-system,BlinkMacSystemFont,"HarmonyOS Sans","Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Lantinghei SC","Microsoft Yahei","Source Han Sans CN",sans-serif;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  line-height: var(--line-height-lg);
  font-style: normal;
  scroll-behavior: smooth;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
  [class^="col-"] {
    padding: 10px;
  }
}
.center {
  text-align: center;
}

.container, article{
  max-width: var(--container-width-md);
  margin: 0 auto; //模拟Boostrap
  padding: 0 15px; //模拟Boostrap
}

.spacing{
  margin-top: var(--spacing-sm) !important;
  @include sm {
    margin-top: var(--spacing-lg) !important;
  }
}

img{
  width: 100%;
  height: auto;
}

.elis-1{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.elis-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

// ▼▼ 文字设置
h1 {
  margin: 20px auto 20px;
  font-weight: 700;
  font-size: var(--font-size-h2);
  margin-top: 0;
  line-height: var(--line-height-sm);
  @include sm {
    font-size: var(--font-size-h1);
  }
}
h2 { 
  font-weight: 700;
  line-height: var(--line-height-md);
  font-size: 24px;
  color: var(--primary-text-color);
  margin-top: var(--spacing-md);
  @include sm {
    font-size: var(--font-size-h2);
    margin-top: var(--spacing-lg);
  }
}

section {
  p:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

p {
  font-size: var(--font-size-p);
  font-weight: 400;
  margin: 5px 0 20px;
  @include sm {
    margin: 10px 0 30px;
  }
}
a {
  color: var(--primary-text-color);
  display: inline;
  text-decoration: none;
  &:hover {
    color: var(--primary-text-color);
  }
  @media (prefers-reduced-motion: no-preference) {
  &:focus-visible {
    transition: outline-offset .2s ease;
    outline-offset: 4px;
  }
}
  
}

a.underline{ //需要加下划线的class
  box-shadow: 0 1px; 
  &:hover{
    color: var(--primary-text-color);
  }
}


.vpn:hover::after,
.vpn:focus::after{
  content: ' (需要科学上网)';
  // font-size: var(--font-size-footer);
}

.changelog{
  font-variant-numeric: tabular-nums;
  font-size: var(--font-size-p);
  margin-top: 10px;
  li{
    list-style-type: disc;
  }
  }
// ▲▲ 文字设置


// ▼▼ 顶部导航栏
.container-fluid{ //定位
  position: sticky;
  top: 0px;
  // top: -0.02px;
  z-index: 99;
  touch-action: pan-y pinch-zoom;
  background-color: var(--background-color);
  .box-header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: var(--background-color);
    height: 72px;
    backface-visibility: hidden;
    box-shadow: 0 2px 2px -2px var(--nav-shadow);
    .vw {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      width: var(--container-width-xl);
    }
  }
}

.nav-open{
  position: fixed;
  z-index: 98;
  width: 100%;
  transform: translateY(0); 
  top: 72px;
  box-shadow:0 -2px 2px -2px var(--nav-shadow), 0 2px 2px -2px var(--nav-shadow);
  user-select: none;
  background-color: var(--background-color);
  visibility: visible;
  opacity: 1;
  transition: all .2s cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-p);
  @include sm {
    display: none !important;
  }
  a{
    padding: 20px 20px;
    box-shadow: 0 2px 2px -2px var(--nav-shadow);
    transition: all .2s cubic-bezier(0, 0, 0.2, 1);
    &:hover,&:active{
      background-color: var(--button-hover-color);
    }
    &:last-child{
      box-shadow: none;
    }
  }
  ul{
    padding: 0px;
    margin: 0px;
    li{
      font-size: var(--font-size-p);
    }
  }
}
.nav-mask{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 97;
  background-color: rgba(0,0,0,.8);
  visibility: visible;
  opacity: 1;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  @include sm {
    display: none !important;
  }
}
.box-logo { //网站Logo
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 87px;
  background: url("data:image/svg+xml,%3Csvg width='174' height='80' viewBox='0 0 174 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h174v80H0z'/%3E%3Cpath d='M37.092 50.472c.447 0 .819.156 1.117.47.298.312.447.677.447 1.095v3.22c0 .416-.15.782-.447 1.095-.298.313-.67.47-1.117.47H17.564a1.5 1.5 0 0 1-1.095-.47A1.502 1.502 0 0 1 16 55.256V25.565c0-.417.156-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h3.351a1.5 1.5 0 0 1 1.095.47c.313.313.47.678.47 1.095v24.907h14.612zm31.573 3.935c.327.506.342 1.043.044 1.61-.298.536-.745.804-1.34.804h-4.022c-.566 0-.998-.238-1.296-.715l-6.703-10.687h-7.91v9.837c0 .417-.156.783-.469 1.096a1.5 1.5 0 0 1-1.094.47h-3.352a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.469-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h14.21c3.426 0 6.197.969 8.312 2.907 2.145 1.967 3.217 4.62 3.217 7.959 0 2.146-.469 3.987-1.407 5.522-.939 1.535-2.316 2.69-4.134 3.466a3.72 3.72 0 0 1-.357.156 3.72 3.72 0 0 0-.358.157l6.659 10.24zM47.439 39.114h8.713c2.562 0 4.305-.73 5.229-2.191.298-.537.447-1.222.447-2.057 0-1.401-.462-2.504-1.386-3.31-1.013-.834-2.383-1.251-4.11-1.251h-8.893v8.809zm44.353-13.996a14.713 14.713 0 0 1 4.87 3.309c3.099 3.16 4.648 7.154 4.648 11.984 0 4.829-1.55 8.823-4.648 11.983a14.599 14.599 0 0 1-10.546 4.427H73.604a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.095V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h12.512c.984 0 1.952.097 2.905.29.953.194 1.877.47 2.77.828zM78.52 50.516h7.462c2.622 0 4.752-.969 6.39-2.906 1.639-1.908 2.458-4.308 2.458-7.2 0-2.891-.819-5.29-2.458-7.199-1.638-1.937-3.768-2.906-6.39-2.906H78.52v20.211zm30.41-1.296c.418 0 .783.149 1.095.447.313.298.47.67.47 1.118v4.65c0 .417-.157.782-.47 1.095a1.5 1.5 0 0 1-1.094.47h-4.067c-.447 0-.819-.157-1.117-.47a1.54 1.54 0 0 1-.447-1.095v-4.65c0-.448.15-.82.447-1.118.298-.298.67-.447 1.117-.447h4.067zM119.234 24a1.5 1.5 0 0 1 1.095.47c.312.313.469.678.469 1.095v29.691c0 .417-.157.783-.47 1.096a1.5 1.5 0 0 1-1.094.47h-3.352a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h3.352zm37.203 0a1.5 1.5 0 0 1 1.095.47c.313.313.469.678.469 1.095v29.691c0 .417-.156.783-.47 1.096a1.5 1.5 0 0 1-1.094.47h-3.351a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.47-1.096V35.224l-8.222 10.552c-.298.388-.7.582-1.206.582-.507 0-.909-.194-1.207-.582l-8.4-10.597v20.077c0 .417-.157.783-.47 1.096a1.5 1.5 0 0 1-1.095.47h-3.351a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.095-.47h3.888c.506 0 .923.209 1.25.626l9.385 12.43 9.205-12.43c.268-.417.685-.626 1.251-.626h3.888z' fill='rgba(34,34,34,1)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/100%;
}
.nav-text-box { //导航栏右侧按钮
  display: none;
  @include sm {
    display: flex;
    align-items: center;
  }
  p {
    margin: 0px 20px;
      &:hover{
        font-weight: 500;
      }
      &:last-child{
        margin-right: 0;
      }
  }
  a{
    color: var(--tertiary-text-color);
      &:hover{
        color: var(--secondary-text-color);
      }
  }
  .active{
    font-weight: 500;
    color: var(--primary-text-color);
  }
}

.icon-menu{
  background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath d='M0 8h48v4H0V8zm0 14h48v4H0v-4zm0 14h48v4H0v-4z' fill='rgba(34,34,34,1)' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
  width: 40px;
  cursor: pointer;
  @include sm {
    display: none;
  }
}
.icon-close{
  background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill-rule='nonzero' d='M24 21.172l14.9-14.9L41.728 9.1 26.828 24l14.9 14.9-2.828 2.828-14.9-14.9-14.9 14.9L6.272 38.9l14.9-14.9-14.9-14.9L9.1 6.272z' fill='rgba(34,34,34,1)' /%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
  width: 40px;
  cursor: pointer;
  @include sm {
    display: none;
  }
}
// ▲▲ 顶部导航栏

// ▼▼ 归档页网格 Archive
.archive {
  margin: 0 auto;
  display: grid;
  gap: 20px 20px; 
  width: 100%;
  padding: 0 20px;
  grid-template-columns: 1fr; 
    @include md {
      grid-template-columns: 1fr 1fr; 
      width: var(--container-width-md);
    }
    @include xl {
      grid-template-columns: 1fr 1fr 1fr; 
      width: var(--container-width-xl);
    }
    img{
      border-radius: var(--border-radius-sm);
    }
    a{
      position: relative;
      display: block;
      &:hover > .item-hover{
        visibility: visible;
        opacity: 1;
      }
    }
  .item-hover{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 20px;
    font-weight: 600;
    transition: all .2s ease-in-out;
  } 
}

// ▲▲ 归档页网格 

// ▼▼ FOOTER
footer {
  padding: 80px 0 40px;
  text-align: center;
  user-select: none;
  .copyright {
    color: var(--tertiary-text-color);
    font-size: var(--font-size-footer);
  }
  p{
    margin: 0;
    padding: 0;
  }
}


// ▲▲ FOOTER


// ▼▼ 返回顶部
.to-top {
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: grid;
  place-items: center;
  background-color: var(--button-color);
  border-radius: var(--border-radius-md);
  transform: translateY(0px);
  // transition: all .2s;
  visibility: hidden;
  @include sm {
    visibility: visible;
  }
  &:hover{
    background: var(--button-hover-color);
  }
  &:active{
    background: var(--button-active-color);
  }
  svg {
    fill: var(--secondary-text-color);
  }
  &:hover > svg{
    fill: var(--primary-text-color);
  }
}
// ▲▲ 返回顶部

// ▼▼ 博客页 blog
.blog{
  h2{
    @extend .elis-2;
  }
}

.blog-post{
  p{
    margin: 30px 0;
  }
  p.imgCaption{
    margin: 5px 0 30px 0;
    font-size: var(--font-size-sub);
  }
  .imgCaption a:hover{
    box-shadow: 0 1px; 
    color: var(--primary-text-color);
  }
  
  .imgCaption {
    text-align: center;
    font-size: var(--font-size-sub);
    color: var(--tertiary-text-color);
    a {
      color: inherit;
      &:hover{
      color: var(--primary-text-color);
      }
    }
  }
}

// ▼▼ Medium 转换的博客正文 ▼▼
article{

  // ▼ 隐藏不必要 ▼
  .section--first{
    h3.graf--leading{ // 隐藏原有标题
      display: none;
    }
  }
  section[data-field="subtitle"],
  section[data-field="description"] { // 隐藏描述
    display: none;
  }

  .section--first > .section-divider{ // 隐藏第一条分割线
    display: none;
  }
  // ▲ 隐藏不必要 ▲

  // ▼ 格式文本 ▼
  ol{
    li{
      list-style: decimal;
      font-size: var(--font-size-p);
    }
  }

  blockquote{
    font-size: var(--font-size-p);
    margin: var(--article-margin-md) 0;
  
    &.graf--blockquote{
      box-shadow: inset 3px 0 0 0 var(--primary-text-color);
      padding-left: 17px;
    }

    &.graf--pullquote{
      font-size: var(--font-size-h2);
      margin: var(--article-margin-lg);
      color: var(--tertiary-text-color);
    }
  }

  hr.section-divider{  // 文中分割线
    display: block;
    height: 1px;
    margin: var(--article-margin-lg) var(--spacing-lg);
    border: 0;
    border-bottom: 1px double var(--divider-color);
  }
  
  // ▲ 格式文本 ▲

  // ▼ 代码块 / 引用外链 ▼
  code,
  pre{
    // background-color: var(--button-color);
    background-color: var(--pre-bg-color);
    font-size: var(--font-size-sub);
    font-family: SF Mono, "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
  }

  pre{
    padding: 16px 20px;
    color: var(--primary-text-color);
    line-height: var(--line-height-lg);
    white-space: pre-wrap;
    line-break: anywhere;
    margin: 0;
  }

  code{
    padding: 2px 8px;
    margin: 4px;
    border: 1px solid var(--button-active-color);
    white-space: pre-wrap;
    line-break: anywhere;
    display: inline;
    border-radius: var(--border-radius-sm);
    color: var(--code-text-color);
  }
  pre code{
    padding: 0;
    margin: 0;
    border-radius: 0px;
    background-color: inherit;
    border: none;
    white-space: pre-wrap;
  }
  pre.graf-after--pre{
    padding-top: 0;
  }

  img{
    border-radius: var(--border-radius-sm);
  }
  // ▲ 代码块 ▲

  // ▼ 引用外链 ▼
  .graf--mixtapeEmbed{
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-sub);
    border: 1px solid var(--divider-color);
    margin: var(--article-margin-sm) 0;
    display: flex;
    font-size: var(--font-size-footer); // 选择到最下面的网址
    border: 1px solid var(--divider-color);
    transition: all .2s;
    touch-action: pan-y pinch-zoom;
    @include sm {
      margin: var(--article-margin-md) 0;
    }
    a:nth-child(2){ // 配图宽度
      padding: 0;
      @include sm {
        padding: 40px 80px !important;
      }
    }
    &:hover{
    background-color: var(--button-hover-color);
    }
    &:active{
    background-color: var(--button-active-color);
    }
    a{
      color: var(--tertiary-text-color);
    }
    & > a{
      box-shadow: none;
      display: block;
      padding: 16px 20px;
    }
    strong{
      @extend .elis-1;
      color: var(--primary-text-color);
      font-size: var(--font-size-sub);
    }
    em{
      @extend .elis-1;
      font-size: var(--font-size-footer);
    }
    br{
      display: none;
    }   
  }
  // ▲ 引用外链 ▲

  // ▼ 文本 ▼

  h1{ // 文章标题
    text-align: left;
    padding-top: var(--spacing-sm);
    font-size: var(--font-size-h2);
    margin-bottom: 10px;
    line-height: var(--line-height-md);
    @include sm {
      font-size: var(--font-size-blog-title);
      padding-top: var(--spacing-lg);
    }
  }
  
  h3{ // 大标题
    font-size: var(--font-size-h3);
    margin-top: var(--article-margin-lg);
    line-height: var(--line-height-md);
  }

  h4{ // 小标题
    font-size: var(--font-size-h4);
    margin-top: var(--article-margin-lg);
    line-height: var(--line-height-md);
  }

  .article-info{
    font-size: var(--font-size-sub);
    color: var(--tertiary-text-color);
    margin-top: 0;
    a{
      box-shadow: none;
      color: inherit;
      &:hover{
        box-shadow: 0 1px;
        color: var(--primary-text-color);
      }
    }
  }
  
  a{
      box-shadow: 0 1px;
  }

  p{
    margin: var(--article-margin-md) 0;
  }
  .graf-after--h3,
  .graf-after--h4{
    margin-top: var(--article-margin-sm);
  }
  
  figure{ // 媒体
    margin: var(--article-margin-md) auto;
    .imageCaption{
      text-align: center;
      font-size: var(--font-size-footer);
      margin-top: var(--article-margin-sm);
      color: var(--secondary-text-color);
      a{
        box-shadow: none;
        &:hover{
          color: var(--primary-text-color);
          box-shadow: 0 1px;
        }
      }
    }
  }
  // ▲ 文本 ▲
}
  // ▼ 底部导航 ▼
  .end-dividers{  
    display: block;
    height: 1px;
    margin: 0;
    border: 0;
    border-top: 1px solid var(--divider-color);
  }

  .hr-1{  // 结尾分割线
    margin-top: var(--article-margin-md);
    @include sm {
      margin-top: var(--article-margin-xl);
    }
  }

  .article-navigation{
    display: flex;
    line-height: var(--line-height-md);
    margin: var(--article-margin-sm) 0;
    flex-direction: column-reverse;
    a:nth-child(1){
      flex: 1;
    }
    a:nth-child(2){
      flex: 1;
    }
    @include sm {
      margin: var(--article-margin-md) 0;
      flex-direction: row;
    }
    a{
      box-shadow: none;
      border-radius: var(--border-radius-md);
      transition: all .2s;
      &:hover{
          background-color: var(--button-color);
        }
      &:active{
          background-color: var(--button-active-color);
        }
    }
    .next{
      text-align: left;
      padding: 16px 16px;
      @include sm {
        text-align: right;
        margin-left: 5px;
      }
    }
    .previous{
      text-align: left;
      padding: 16px 16px;
      @include sm{
        margin-right: 5px;
      }
    }
    p{
      margin: 0;
      font-size: var(--font-size-sub);
      color: var(--tertiary-text-color);
    }
    .title{
      font-size: var(--font-size-sub);
      font-weight: 600;
      color: var(--primary-text-color);
      margin-top: var(--article-margin-sm);
      @extend .elis-1;
    }
    .no-post{
      cursor: not-allowed;
      &:hover{
        background-color: transparent;
      }
      p{
        color: var(--tertiary-text-color);
      
    }
    }
    
  }
  // ▲ 底部导航 ▲
  
  // ▼ 移动端底部功能区 ▼
  .footer-action{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    text-align: center;
    margin-top: var(--article-margin-sm);
    font-size: var(--font-size-footer);
    user-select: none;
    touch-action: pan-y pinch-zoom; // iOS 300延迟问题
    div{
      border-radius: var(--border-radius-md);
      padding: 10px 4px;
      box-shadow: none;
      a{
        box-shadow: none;
        color: var(--tertiary-text-color);
      }
      &:active{
        background-color: var(--button-color);
      }
    }
    .footer-action-icon{
      width: 1em;
      height: 1em;
      display: inline-block;;
      vertical-align: -2px;
      margin-right: 8px;
    }
    .icon-back{
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M8 4h13v2H8V4zM4.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 6.9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM8 11h13v2H8v-2zm0 7h13v2H8v-2z' fill='rgba(117,117,117,1)'/%3E%3C/svg%3E") no-repeat center;
      @extend .footer-action-icon;
    }
    .icon-link{
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17.657 14.828l-1.414-1.414L17.657 12A4 4 0 1 0 12 6.343l-1.414 1.414-1.414-1.414 1.414-1.414a6 6 0 0 1 8.485 8.485l-1.414 1.414zm-2.829 2.829l-1.414 1.414a6 6 0 1 1-8.485-8.485l1.414-1.414 1.414 1.414L6.343 12A4 4 0 1 0 12 17.657l1.414-1.414 1.414 1.414zm0-9.9l1.415 1.415-7.071 7.07-1.415-1.414 7.071-7.07z' fill='rgba(117,117,117,1)'/%3E%3C/svg%3E") no-repeat center;
      @extend .footer-action-icon;
    }
    .icon-top{
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13 7.828V20h-2V7.828l-5.364 5.364-1.414-1.414L12 4l7.778 7.778-1.414 1.414L13 7.828z' fill='rgba(117,117,117,1)'/%3E%3C/svg%3E") no-repeat center;
      @extend .footer-action-icon;
    }
    .copied{
      a{
        color: var(--copied-text-color);
      }
    }
    @include sm {
      display: none;
    }
  }
  // ▲ 移动端底部功能区 ▲

// ▲▲ Medium 转换的博客正文 ▲▲

// ▼▼ 博客页 blog
.blog-hero{
  h2{
    margin-top: var(--spacing-xs);
  }
}

.blog-heroimg {
    height: 200px;
    object-fit: cover;
    margin-bottom: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    @include sm {
      height: 330px;
      
      margin-bottom: var(--spacing-xs);
  }
}

.blog-author {
    color: var(--tertiary-text-color);
    font-size: var(--font-size-footer);
    letter-spacing: .5px;
    margin-bottom: var(--spacing-sm);
    cursor: text;
    @include sm {
      font-size: var(--font-size-sub);
      margin-bottom: var(--spacing-lg);
    }
}

.blog-subtitle {
  @extend .elis-2;
  color: var(--secondary-text-color);
  @include sm {
  }
}

.blog-divider {
  margin: var(--spacing-sm) 0;
  position: relative;
  @include sm {
    margin: var(--spacing-md) 0;
  }
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--divider-color);
  }
  .blog-divider-title {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0px 16px 0px 0px;
    background: var(--background-color);
    color: var(--tertiary-text-color);
    font-size: 16px;
  }
}
.load-more {
  background-color: var(--button-color);
  transition: all .3s;
  cursor: pointer;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center; 
  align-items: center;     
  color: var(--tertiary-text-color);
  letter-spacing: .5px;
  user-select: none;
  &:hover {
    background-color: var(--button-hover-color);
  }
  &:hover > .load-more-text{
    color: var(--primary-text-color);
    transition: all .2s;
  }
  &:active{
    background-color: var(--button-active-color);
  }
  p{
    font-weight: 500;
    margin: 20px 0;
  }
}
// ▲▲ 博客页 blog

// ▼▼ 单个项目页 
.top-bar {
  padding: 88px 0 88px;
  text-align: center;
  margin: 0px 10px;
  @include sm {
      padding: 160px 0 160px;
      margin: 0 auto;
  }
  p {
    color: var(--secondary-text-color);
    letter-spacing: .5px;
    margin-bottom: 0;
  }
}

.heroimg {
  max-width: var(--container-width-xl);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto 35px;
}
// ▲▲ 单个项目页

// ▼▼ 作品首页
.project{
  width: var(--container-width-sm);
  margin: 0 auto;
  padding: 0 20px;
  @include md {
    width: var(--container-width-md);
  }
  @include xl {
    width: var(--container-width-xl);
  }
  section{
    position: relative;
    overflow: hidden;
    margin-bottom: var(--spacing-xs);
    touch-action: pan-y pinch-zoom;
    cursor: pointer;
    @include md {
      margin-bottom: var(--spacing-sm);
      cursor: auto;
    }
    .desc{
      display: flex;
      flex-direction: column;
      z-index: 1;
      width: 100%;
      max-width: 432px;
      text-align: center;
      align-items: center;
      @include md {
        text-align: left;
        align-items: flex-start;
        max-width: 324px;
      }
      @include xl {
        max-width: 484px;
      }
      h2{ // 标题
        font-size: 24px;
        margin: 0;
        font-weight: 600;
        word-spacing: -.1em;
        @include md {
          font-size: 40px;
        }
        @include xl {
          font-size: 48px;
        }
      }
      p{  
        font-size: var(--font-size-p);
        margin: 0;
        margin-top: var(--spacing-xxs);
        color: var(--secondary-text-color);
        @include md {
          margin-top: var(--spacing-xxs);
        }
      }
    }
    .project-tags{
      margin-top: var(--spacing-xxs);
      font-size: var(--font-size-sub);
      display: none;
        span{
        color: var(--tertiary-text-color);
        padding: 6px 10px;
        background-color: var(--project-tags-color);
        margin-right: var(--spacing-xxs);
        font-weight: 500;
        border-radius: var(--border-radius-sm);
      }
      @include xl {
        display: block;
      }
    }
    .project-enter{ // 按钮
      color: #FFFFFF;
      font-size: var(--font-size-p);
      padding: 0;
      text-align: center;
      border-radius: var(--border-radius-sm);
      cursor: pointer;
      margin-top: var(--spacing-xs);
      font-weight: 500;
      user-select: none;
      display: none;
      @include md {
        padding: 10px 0px;
        width: 156px;
        margin-top: var(--spacing-sm);
        font-size: var(--font-size-p);
        display: block;
      }
      @include xl {
        padding: 12px 0px;
        width: 188px;
        margin-top: var(--spacing-sm);
        font-size: 20px;
      }
    }
    .ql-btn{
      @extend .project-enter;
      background-color: #FD3759;
      &:hover{
        background-color: #e92b4b;
      }
      &:active{
        background-color: #dc1e3e;
      }
      &:focus-visible{
        background-color: #dc1e3e;
        box-shadow: 0 0 0 3px var(--project-bg-color),0 0 0 5px #dc1e3e;
        transition: box-shadow .2s ease;
        outline: none;
      }
    }
    .yt-btn{
      @extend .project-enter;
      background-color: #1E86FF;
      &:hover{
        background-color: #0C6EFF;
      }
      &:active{
        background-color: #0F65E5;
      }
      &:focus-visible{
        background-color: #0C6EFF;
        box-shadow: 0 0 0 3px var(--project-bg-color),0 0 0 5px #0C6EFF;
        transition: box-shadow .2s ease;
        outline: none;
      }
    }
    .self-btn{
      @extend .project-enter;
      background-color: #111111;
      &:hover{
        background-color: #0A0A0A;
      }
      &:active{
        background-color: #000000;
      }
      &:focus-visible{
        background-color: #0A0A0A;
        box-shadow: 0 0 0 3px var(--project-bg-color),0 0 0 5px #0A0A0A;
        transition: box-shadow .2s ease;
        outline: none;
      }
    }
    .watsons-btn{
      @extend .project-enter;
      background-color: #15B1C5;
      &:hover{
        background-color: #099ab1;
      }
      &:active{
        background-color: #06889c;
      }
      &:focus-visible{
        background-color: #06889c;
        box-shadow: 0 0 0 3px var(--project-bg-color),0 0 0 5px #06889c;
        transition: box-shadow .2s ease;
        outline: none;
      }
    }
    .icon-forward{
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 3v2H5v14h14v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6zm7.707 4.707L12 13.414 10.586 12l5.707-5.707L13 3h8v8l-3.293-3.293z' fill='rgba(255,255,255,1)' /%3E%3C/svg%3E") no-repeat center;
      width: 1em;
      height: 1em;
      display: inline-block;
      vertical-align: -2.5px;
      margin-left: 6px;
    }
  }
  .project-card{ 
    display: flex;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-xs) 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-radius-md);
    background-color: var(--project-bg-color);
    flex-direction: column;
    border: 1px solid var(--divider-color);
    @include md {
      padding: var(--spacing-sm) var(--spacing-md);
      flex-direction: row;
    }
    @include xl {
      padding: var(--spacing-md) var(--spacing-lg);
      min-height: 400px;
    }
  }
  .project-img{ 
    transition: all .3s ease-in-out;  // 离开动画
    cursor: pointer;
    transform-origin: bottom right;
    user-select: none;
    transform: translateY(20px);
    filter: drop-shadow(0px 12px 12px rgba(0,0,0,.06));
    max-width: 520px;

    @include md {
      max-width: 460px;
      position: absolute;
      right: -150px;
      top: 56px;
      transform: none;
      filter: drop-shadow(0px 25px 20px rgba(0,0,0,.2));
      &:hover{
        transition: all 1s cubic-bezier(0.19,1,0.22,1); // 图片放大动画
        transform: scale(1.01);
      }
    }
    @include xl {
      max-width: 600px;
      right: -160px;
      top: 72px;
    }
  }
}

// ▲▲ 作品首页

// ▼▼ 作品详情页

.project-container{
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  img, picture{
    margin-bottom: var(--spacing-xxs);
  }
  @include xxl {
    max-width: 1600px;
  }
  hr{
    width: 100%;
    margin: var(--spacing-xs) auto;
    border: none;
    height: 1px;
    background-color: var(--divider-color);
    @include md {
      margin: var(--spacing-md) auto;
    }
  }
}

// ▲▲ 作品详情页

// ▼▼ lazyload
.lazyload,
.lazyloading {
	opacity: .5;
  background-color: var(--divider-color);
}
.lazyloaded {
	opacity: 1;
	transition: opacity .3s;
}
// ▲▲ lazyload

// ▼▼ 放大图片
img[data-action="zoom"] {
  cursor: zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  transition: all 300ms ease;
}
img.zoom-img {
  cursor: zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  transition: opacity 300ms ease;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: zoom-out;
}
// ▲▲ 放大图片


.hidden{
  opacity: 0;
  visibility: hidden;
}
.nav-transform{
  transform: translateY(-380px); 
}
.to-top-transform{
  transform: translateY(8px); 
}
.hide{
  display: none;
}

// Modify Viewer.js
#galley img{
  cursor: zoom-in;
}

.viewer-title{
  font-feature-settings: "tnum" !important;
}
.viewer-backdrop{
  background-color: rgba(0,0,0,98) !important;
}

.viewer-list{
  box-sizing: border-box !important;
  .viewer-active{
    border: 1px solid rgba(255,255,255,.3) !important;
    @include md {
    border: 2px solid rgba(255,255,255,.3) !important;
    }
  }
  & > li {
    width: 88.88px !important;
    border-radius: 2px !important;
  }
}

.viewer-navbar{
  padding: 10px !important;
}

.viewer-canvas{
  cursor: zoom-out;
}