*,::after,::before{box-sizing:border-box;-webkit-tap-highlight-color:transparent;}blockquote,body,dd,dl,figure,h1,h2,h3,h4,p{margin:0}ol[role=list],ul[role=list],li{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;}}
* em{
  font-style: normal !important;
}
button{
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
}
@mixin sm {@media (min-width: 576px) {@content;}} //landscape phones
@mixin md {@media (min-width: 768px) {@content;}} //tablets
@mixin lg {@media (min-width: 992px) {@content;}} //desktops
@mixin xl {@media (min-width: 1200px) {@content;}} //large desktops
@mixin xxl {@media (min-width: 1400px) {@content;}} //larger desktops
:root {
  //颜色
  --primary-text-color: #222222;
  --secondary-text-color: #444444;
  --tertiary-text-color: #757575;
  --code-text-color: #EB5757;
  --divider-color: #E6E6E6;
  --button-color: #EEEEEE;
  --button-hover-color: #E6E6E6;
  --button-active-color: #DBDBDB;
  --pre-bg-color: #EEEEEE;
  --copied-text-color: green;
  --project-bg-color: #FFFFFF;
  --project-tags-color: #F7F7F7;
  --background-color: #F7F7F7;
  --negative-color: #000;
  --link-text-color: #0052cc;
  --link-text-active-color: #063F93;
  //用于blog页面的banner颜色
  --banner-bg-color: #0052cc;
  --banner-text-color: #FFF;
  --banner-bg-color-faded: #EEEEEE;
  --banner-text-color-faded: #444444;

  //字体相关
  --font-size-h1: 48px;
  --font-size-blog-title: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 22px;
  --font-size-p: 18px;
  --font-size-sub: 16px;
  --font-size-footer: 14px;
  --line-height-sm: 1.2;
  --line-height-md: 1.4;
  --line-height-lg: 1.8;
  
  //布局
  --container-width-md: 702px;
  --container-width-xl: 1080px;
  --spacing-xxs: 12px;
  --spacing-xs: 24px;
  --spacing-sm: 32px;
  --spacing-md: 48px;
  --spacing-lg: 56px;
  --article-margin-sm: 10px;
  --article-margin-md: 30px;
  --article-margin-lg: 45px;
  --article-margin-xl: 60px;

  //样式
  --nav-shadow: rgba(0,0,0,.15);
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
}
:root .dark {
  //颜色
  // --strong-text-color: #FFFFFF;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #D9D9D9;
  --tertiary-text-color: #999999;
  --code-text-color: #f05656;
  --divider-color: #333333;
  --button-color: #1A1A1A;
  --button-hover-color: #333333;
  --button-active-color: #121212;
  --pre-bg-color: #262626;
  --copied-text-color: #64A838;
  --project-bg-color: #1A1A1A;
  --project-tags-color: #333333;
  --background-color: #000000;
  --negative-color: #FFF;
  --link-text-color: #58a6ff;
  --link-text-active-color: #2385F6;
  //用于暗色blog页面的banner颜色
  --banner-bg-color: #0c5cd5;
  --banner-text-color: #FFF;
  --banner-bg-color-faded: #1A1A1A;
  --banner-text-color-faded: #FFF;

  //样式
  --nav-shadow: rgba(255,255,255,.15);

  // Logo
  .box-logo {
    background-image: url("data:image/svg+xml,%3Csvg width='150' height='80' viewBox='0 0 150 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.092 50.472c.447 0 .819.156 1.117.47.298.312.447.677.447 1.095v3.22c0 .416-.15.782-.447 1.095-.298.313-.67.47-1.117.47H5.564a1.5 1.5 0 0 1-1.095-.47A1.502 1.502 0 0 1 4 55.256V25.565c0-.417.156-.782.47-1.095A1.499 1.499 0 0 1 5.564 24h3.351a1.5 1.5 0 0 1 1.095.47c.313.313.47.678.47 1.095v24.907h14.612zm31.573 3.935c.327.506.342 1.043.044 1.61-.298.536-.745.804-1.34.804h-4.022c-.566 0-.998-.238-1.296-.715l-6.703-10.687h-7.91v9.837c0 .417-.156.783-.469 1.096a1.499 1.499 0 0 1-1.094.47h-3.352a1.501 1.501 0 0 1-1.095-.47 1.503 1.503 0 0 1-.469-1.096V25.565c0-.417.157-.782.47-1.095a1.499 1.499 0 0 1 1.094-.47h14.21c3.426 0 6.197.969 8.312 2.907 2.145 1.967 3.217 4.62 3.217 7.959 0 2.146-.469 3.987-1.407 5.522-.939 1.535-2.316 2.69-4.134 3.466-.116.058-.235.11-.357.156a3.708 3.708 0 0 0-.358.157l6.659 10.24zM35.439 39.114h8.713c2.562 0 4.305-.73 5.229-2.191.298-.537.447-1.222.447-2.057 0-1.401-.462-2.504-1.386-3.31-1.013-.834-2.383-1.251-4.11-1.251h-8.893v8.809zm44.353-13.996c1.83.764 3.486 1.89 4.87 3.309 3.099 3.16 4.648 7.154 4.648 11.984 0 4.829-1.55 8.823-4.648 11.983a14.598 14.598 0 0 1-10.546 4.427H61.604a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.095V25.565c0-.417.157-.782.47-1.095a1.499 1.499 0 0 1 1.094-.47h12.512c.984 0 1.952.097 2.905.29.953.194 1.877.47 2.77.828h.001zM66.52 50.516h7.462c2.622 0 4.752-.969 6.39-2.906 1.639-1.908 2.458-4.308 2.458-7.2 0-2.891-.819-5.29-2.458-7.199-1.638-1.937-3.768-2.906-6.39-2.906H66.52v20.211zm30.41-1.296c.418 0 .783.149 1.095.447.313.298.47.67.47 1.118v4.65c0 .417-.157.782-.47 1.095a1.499 1.499 0 0 1-1.094.47h-4.067c-.447 0-.819-.157-1.117-.47a1.538 1.538 0 0 1-.447-1.095v-4.65c0-.448.15-.82.447-1.118.298-.298.67-.447 1.117-.447h4.067-.001zM107.234 24a1.499 1.499 0 0 1 1.095.47c.312.313.469.678.469 1.095v29.691c0 .417-.157.783-.47 1.096a1.503 1.503 0 0 1-1.094.47h-3.352a1.504 1.504 0 0 1-1.094-.47 1.493 1.493 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.503 1.503 0 0 1 1.094-.47h3.352zm37.203 0a1.499 1.499 0 0 1 1.095.47 1.5 1.5 0 0 1 .469 1.095v29.691a1.5 1.5 0 0 1-.47 1.096 1.503 1.503 0 0 1-1.094.47h-3.351a1.499 1.499 0 0 1-1.095-.47 1.493 1.493 0 0 1-.47-1.096V35.224l-8.222 10.552c-.298.388-.7.582-1.206.582-.507 0-.909-.194-1.207-.582l-8.4-10.597v20.077c0 .417-.157.783-.47 1.096a1.496 1.496 0 0 1-1.095.47h-3.351a1.499 1.499 0 0 1-1.095-.47 1.493 1.493 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.506 1.506 0 0 1 1.095-.47h3.888c.506 0 .923.209 1.25.626l9.385 12.43 9.205-12.43c.268-.417.685-.626 1.251-.626h3.888z' fill='%23fff'/%3E%3C/svg%3E");
    }
  .zoom-overlay{
    background: #2C2C2E;
    }
  .icon-menu{
    background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath d='M0 8h48v4H0V8zm0 14h48v4H0v-4zm0 14h48v4H0v-4z' fill='rgba(238,238,238,1)' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
    }
  .icon-close{
    background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill-rule='nonzero' d='M24 21.172l14.9-14.9L41.728 9.1 26.828 24l14.9 14.9-2.828 2.828-14.9-14.9-14.9 14.9L6.272 38.9l14.9-14.9-14.9-14.9L9.1 6.272z' fill='rgba(238,238,238,1)' /%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
  }
  .icon-forward{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 3v2H5v14h14v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6zm7.707 4.707L12 13.414 10.586 12l5.707-5.707L13 3h8v8l-3.293-3.293z' fill='rgba(238,238,238,1)' /%3E%3C/svg%3E") no-repeat center;}
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji,Segoe UI Symbol, Noto Color Emoji, sans-serif;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  line-height: var(--line-height-lg);
  font-style: normal;
  // scroll-behavior: smooth;
  position: relative;
  scroll-padding-top: 104px;
  scrollbar-width: thin;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
  [class^="col-"] {
    padding: 10px;
  }
}
.center {
  text-align: center;
}

.container, article{
  width: auto;
  max-width: var(--container-width-md);
  margin: 0 auto; //模拟Boostrap
  padding: 0 15px; //模拟Boostrap
}

.spacing{
  margin-top: var(--spacing-sm) !important;
  @include sm {
    margin-top: var(--spacing-lg) !important;
  }
}

img{
  width: 100%;
  height: auto;
}

// ▼▼ 图标

.general-svg-icon{
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
  background-color: currentColor;
  vertical-align: -0.125em;
}

.icon-back{
  mask: url(../img/icon/list.svg) no-repeat 50% 50%/1em 1em;
  @extend .general-svg-icon;
}

.icon-link{
  mask: url(../img/icon/link.svg) no-repeat 50% 50%/1em 1em;
  @extend .general-svg-icon;
}

.icon-top{
  mask: url(../img/icon/top.svg) no-repeat 50% 50%/1em 1em;
  @extend .general-svg-icon;
}

.icon-rss{
  @extend .general-svg-icon;
  mask: url(../img/icon/rss.svg) no-repeat 50% 50%/1em 1em;
}
.icon-contact{
  @extend .general-svg-icon;
  mask: url(../img/icon/contact.svg) no-repeat 50% 50%/1em 1em;
}

.icon-check{
  @extend .general-svg-icon;
  mask: url(../img/icon/check.svg) no-repeat 50% 50%/1em 1em;
}

// ▼▼ 文字设置
h1 {
  margin: 20px auto 20px;
  font-weight: 700;
  font-size: var(--font-size-h2);
  margin-top: 0;
  line-height: var(--line-height-sm);
  @include sm {
    font-size: var(--font-size-h1);
  }
}
h2 { 
  font-weight: 700;
  line-height: var(--line-height-md);
  font-size: 24px;
  color: var(--primary-text-color);
  margin-top: var(--spacing-sm);
  @include sm {
    font-size: var(--font-size-h3);
  }
}

section {
  p:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

p {
  font-size: var(--font-size-p);
  font-weight: 400;
  margin: 5px 0 20px;
  @include sm {
    margin: 10px 0 30px;
  }
}
a {
  color: var(--primary-text-color);
  display: inline;
  text-decoration: none;
  cursor: pointer;
  @media (prefers-reduced-motion: no-preference) {
  &:focus-visible {
    transition: outline-offset .2s ease;
    outline-offset: 4px;
  }
  }
}
.nowrap{ // 不会被断开的文本
  white-space: nowrap;
  display: inline-block;
}

.select-all{
  user-select: all;
}

.case{
  font-feature-settings: 'case', 'tnum';
}

a.underline{ //需要加下划线的class
  color: var(--link-text-color);
  &:hover{
    text-decoration: underline;
    @include sm {
    text-underline-position: under;
    text-underline-offset: -.8px;
    }
  }
  &:active{
    color: var(--link-text-active-color);
    text-decoration: none;
  }
  
}


.vpn:hover::after,
.vpn:focus::after{
  content: ' (需要科学上网)';
  // font-size: var(--font-size-footer);
}

.changelog{
  font-size: var(--font-size-p);
  margin: var(--spacing-xxs) 0 0 0;
  display: flex;
  gap: var(--spacing-xs);
  position: relative;

  .changelog-line{
    display: block;
    position: absolute;
    background-color: var(--divider-color);
    width: 1.5px;
    height: 100%;
    top: .8em;
    left: 5.25px;

  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      margin-block-end: var(--spacing-xs);
      position: relative;
      padding-inline-start: var(--spacing-xs);

      // @include sm {
      // padding-inline-start: var(--spacing-xs);
      // }

      &:last-child(){
        margin-block-end: 0;
      }
  
      time{
        font-size: var(--font-size-sub);
        line-height: var(--line-height-sm);
        color: var(--tertiary-text-color);
        font-weight: 500;
      }

      p{
        margin: 0;
      }
    }
    li::before{
      content: '';
      width: 12px;
      height: 12px;
      border: 2.5px solid var(--divider-color);
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: calc(.5em + 2px);
      background-color: var(--background-color);
    }
  }
  
  }
// ▲▲ 文字设置


// ▼▼ 顶部导航栏
.container-fluid{ //定位
  position: sticky;
  top: 0px;
  // top: -0.02px;
  z-index: 99;
  touch-action: pan-y pinch-zoom;
  background-color: var(--background-color);
  .box-header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: var(--background-color);
    height: 64px;
    backface-visibility: hidden;
    box-shadow: 0 2px 2px -2px var(--nav-shadow);
    @include md {
    height: 56px;
    }
    .vw {
      display: flex;
      justify-content: space-between;
      padding: 0 8px 0 12px;
      width: var(--container-width-md);
    }
  }
}

.nav-open{
  position: fixed;
  z-index: 98;
  width: 100%;
  transform: translateY(0); 
  top: 64px;
  box-shadow:0 -2px 2px -2px var(--nav-shadow), 0 2px 2px -2px var(--nav-shadow);
  user-select: none;
  background-color: var(--background-color);
  visibility: visible;
  opacity: 1;
  transition: all .2s cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-p);
  @include sm {
    display: none !important;
  }
  a:nth-child(3){ // 隐藏归档（移动端）
    display: none;
  }
  a{
    padding: 20px 20px;
    box-shadow: 0 2px 2px -2px var(--nav-shadow);
    &:hover,&:active{
      background-color: var(--button-hover-color);
    }
    &:last-child{
      box-shadow: none;
    }
  }
  ul{
    padding: 0px;
    margin: 0px;
    li{
      font-size: var(--font-size-p);
    }
  }
}
.nav-mask{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 97;
  background-color: rgba(0,0,0,.8);
  visibility: visible;
  opacity: 1;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  @include sm {
    display: none !important;
  }
}
.box-logo { //网站Logo
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 78px;
  height: 41.6px;
  background: url("data:image/svg+xml,%3Csvg width='150' height='80' viewBox='0 0 150 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.092 50.472c.447 0 .819.156 1.117.47.298.312.447.677.447 1.095v3.22c0 .416-.15.782-.447 1.095-.298.313-.67.47-1.117.47H5.564a1.5 1.5 0 0 1-1.095-.47A1.502 1.502 0 0 1 4 55.256V25.565c0-.417.156-.782.47-1.095A1.499 1.499 0 0 1 5.564 24h3.351a1.5 1.5 0 0 1 1.095.47c.313.313.47.678.47 1.095v24.907h14.612zm31.573 3.935c.327.506.342 1.043.044 1.61-.298.536-.745.804-1.34.804h-4.022c-.566 0-.998-.238-1.296-.715l-6.703-10.687h-7.91v9.837c0 .417-.156.783-.469 1.096a1.499 1.499 0 0 1-1.094.47h-3.352a1.501 1.501 0 0 1-1.095-.47 1.503 1.503 0 0 1-.469-1.096V25.565c0-.417.157-.782.47-1.095a1.499 1.499 0 0 1 1.094-.47h14.21c3.426 0 6.197.969 8.312 2.907 2.145 1.967 3.217 4.62 3.217 7.959 0 2.146-.469 3.987-1.407 5.522-.939 1.535-2.316 2.69-4.134 3.466-.116.058-.235.11-.357.156a3.708 3.708 0 0 0-.358.157l6.659 10.24zM35.439 39.114h8.713c2.562 0 4.305-.73 5.229-2.191.298-.537.447-1.222.447-2.057 0-1.401-.462-2.504-1.386-3.31-1.013-.834-2.383-1.251-4.11-1.251h-8.893v8.809zm44.353-13.996c1.83.764 3.486 1.89 4.87 3.309 3.099 3.16 4.648 7.154 4.648 11.984 0 4.829-1.55 8.823-4.648 11.983a14.598 14.598 0 0 1-10.546 4.427H61.604a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.095V25.565c0-.417.157-.782.47-1.095a1.499 1.499 0 0 1 1.094-.47h12.512c.984 0 1.952.097 2.905.29.953.194 1.877.47 2.77.828h.001zM66.52 50.516h7.462c2.622 0 4.752-.969 6.39-2.906 1.639-1.908 2.458-4.308 2.458-7.2 0-2.891-.819-5.29-2.458-7.199-1.638-1.937-3.768-2.906-6.39-2.906H66.52v20.211zm30.41-1.296c.418 0 .783.149 1.095.447.313.298.47.67.47 1.118v4.65c0 .417-.157.782-.47 1.095a1.499 1.499 0 0 1-1.094.47h-4.067c-.447 0-.819-.157-1.117-.47a1.538 1.538 0 0 1-.447-1.095v-4.65c0-.448.15-.82.447-1.118.298-.298.67-.447 1.117-.447h4.067-.001zM107.234 24a1.499 1.499 0 0 1 1.095.47c.312.313.469.678.469 1.095v29.691c0 .417-.157.783-.47 1.096a1.503 1.503 0 0 1-1.094.47h-3.352a1.504 1.504 0 0 1-1.094-.47 1.493 1.493 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.503 1.503 0 0 1 1.094-.47h3.352zm37.203 0a1.499 1.499 0 0 1 1.095.47 1.5 1.5 0 0 1 .469 1.095v29.691a1.5 1.5 0 0 1-.47 1.096 1.503 1.503 0 0 1-1.094.47h-3.351a1.499 1.499 0 0 1-1.095-.47 1.493 1.493 0 0 1-.47-1.096V35.224l-8.222 10.552c-.298.388-.7.582-1.206.582-.507 0-.909-.194-1.207-.582l-8.4-10.597v20.077c0 .417-.157.783-.47 1.096a1.496 1.496 0 0 1-1.095.47h-3.351a1.499 1.499 0 0 1-1.095-.47 1.493 1.493 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.506 1.506 0 0 1 1.095-.47h3.888c.506 0 .923.209 1.25.626l9.385 12.43 9.205-12.43c.268-.417.685-.626 1.251-.626h3.888z' fill='%23222'/%3E%3C/svg%3E") no-repeat center/100%;
}
.nav-text-box { //导航栏右侧按钮
  display: none;
  @include sm {
    display: flex;
    align-items: center;
  }
  p:nth-child(3){ // 隐藏归档（PC端）
    display: none;
  }
  p {
    margin: 0px 4px;
      &:last-child{
        margin-right: 0;
      }
  }
  a{
    color: var(--tertiary-text-color);
    padding: 2px 8px;
    display: block;
    border-radius: var(--border-radius-sm);

      &:hover{
        color: var(--secondary-text-color);
        background-color: var(--button-hover-color);
        font-weight: 500;
      }
      &:active{
        background-color: var(--button-active-color);
      }
  }
  a.active{
    font-weight: 500;
    color: var(--primary-text-color);
    :hover{
      color: var(--primary-text-color);
    }
  }
}

.icon-menu{
  background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath d='M0 8h48v4H0V8zm0 14h48v4H0v-4zm0 14h48v4H0v-4z' fill='rgba(34,34,34,1)' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
  width: 40px;
  cursor: pointer;
  @include sm {
    display: none;
  }
}
.icon-close{
  background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill-rule='nonzero' d='M24 21.172l14.9-14.9L41.728 9.1 26.828 24l14.9 14.9-2.828 2.828-14.9-14.9-14.9 14.9L6.272 38.9l14.9-14.9-14.9-14.9L9.1 6.272z' fill='rgba(34,34,34,1)' /%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
  width: 40px;
  cursor: pointer;
  @include sm {
    display: none;
  }
}
// ▲▲ 顶部导航栏

// ▼▼ 归档页网格 Archive
.archive {
  margin: 0 auto;
  display: grid;
  gap: 20px 20px; 
  width: 100%;
  padding: 0 20px;
  grid-template-columns: 1fr; 
    @include md {
      grid-template-columns: 1fr 1fr; 
      width: var(--container-width-md);
    }
    @include xl {
      grid-template-columns: 1fr 1fr 1fr; 
      width: var(--container-width-xl);
    }
    img{
      border-radius: var(--border-radius-sm);
    }
    a{
      position: relative;
      display: block;
      &:hover > .item-hover{
        visibility: visible;
        opacity: 1;
      }
    }
  .item-hover{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 20px;
    font-weight: 600;
    transition: all .2s ease-in-out;
  } 
}

// ▲▲ 归档页网格 

// ▼▼ footer
footer {
  padding: 80px 0 40px;
  text-align: center;
  user-select: none;
  color: var(--tertiary-text-color);
  font-size: var(--font-size-footer);
  p{
    margin: 0;
    padding: 0;
  }
  .dot{
    margin: 0 4px;
  }
  .footer-rss{
    color: var(--tertiary-text-color);
    .icon-rss{
      margin-inline-end: 4px;
    }
  }
}


// ▲▲ footer


// ▼▼ 侧边按钮
.side-button {
  position: fixed;
  visibility: hidden;
  cursor: pointer;
  display: grid;
  place-items: center;
  background-color: var(--button-color);
  border-radius: var(--border-radius-md);
  transform: translateY(0px);
  @include sm {
    visibility: visible;
  }
  svg{ // 图标大小
    width: 20px;
    height: 20px;
  }
  &:hover{
    background: var(--button-hover-color);
  }
  &:active{
    background: var(--button-active-color);
  }
  svg {
    fill: var(--secondary-text-color);
  }
  &:hover > svg{
    fill: var(--primary-text-color);
  }
}

.to-top{
  @extend .side-button;
  height: 40px;
  width: 40px;
  bottom: 30px;
  right: 30px;
  
}

.full-width{
  @extend .side-button;
  height: 40px;
  width: 40px;
  bottom: 82px;
  right: 30px;
  display: none;

  @include xxl {
    display: grid;
  }
}

.full-width-icon{
  background-image: url('')
}

// ▲▲ 侧边按钮

// ▼▼ 博客页 blog
.blog{
  h2{
    @extend .elis-2;
    @extend .case;
  }
  section a:hover > h2{
    color: var(--link-text-color);
    text-decoration: underline;
    @include sm {
    text-underline-position: under;
    text-underline-offset: -0.8px;
    }
  }
  section a:active > h2{
    color: var(--link-text-active-color);
    text-decoration: none;
  }
}
  // 博客页顶部 Banner
  .blog-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xxs);
    background-color: var(--banner-bg-color);
    animation: 1s bannerFadeOut forwards 1s cubic-bezier(0.22, 1, 0.36, 1);
    @keyframes bannerFadeOut {
      from { background: var(--banner-bg-color); }
      to { background: var(--banner-bg-color-faded); }
    }
    
    p{
      font-size: var(--font-size-footer);
      line-height: var(--line-height-md);
      margin: 0;
      color: var(--banner-text-color);
      text-align: center;
      animation: 1s bannerTextFadeOut forwards 1s cubic-bezier(0.22, 1, 0.36, 1);
      width: 100%;
      @keyframes bannerTextFadeOut {
        from { color: var(--banner-text-color); }
        to { color: var(--banner-text-color-faded); }
      }
      @include md{
      line-height: var(--line-height-sm);
      font-size: var(--font-size-sub);

      }
      &::before{
        content: "";
        @extend .general-svg-icon;
        margin-inline-end: 4px;
        mask: url(../img/icon/rss.svg) no-repeat 50% 50%/1em 1em;
      }
      a{
        color: inherit;
        border-bottom: 1px solid;
        &:hover{
          border: none;
        }
      }
  }
  }

.blog-post{
  p{
    margin: 30px 0;
  }
  p.imgCaption{
    margin: 5px 0 30px 0;
    font-size: var(--font-size-sub);
  }
  .imgCaption a:hover{
    box-shadow: 0 1px; 
    color: var(--primary-text-color);
  }
  
  .imgCaption {
    text-align: center;
    font-size: var(--font-size-sub);
    color: var(--tertiary-text-color);
    a {
      color: inherit;
      &:hover{
      color: var(--primary-text-color);
      }
    }
  }
}

.blogCatalog{ // 自动生成的博客目录
  display: none;
  position: fixed;
  top: 112px;
  left: calc(50% + 380px);
  max-width: 300px;
  font-size: var(--font-size-footer);
  padding: var(--spacing-xxs) var(--spacing-xxs) 0 0;
  border-radius: var(--border-radius-sm);
  font-variant-numeric: tabular-nums;
  a{
    display: block;
    padding: 2px 8px;
    border-radius: var(--border-radius-sm);
    &:hover, &:focus-visible{
      background-color: var(--button-color);
    }
    &:active{
      background-color: var(--button-active-color);
    }
  }
  .catalog-h4{
    padding-left: 1.5em;
  }
  
  @include xl {
    display: block;
  }
}

// ▼▼ Medium 转换的博客正文 ▼▼
article{
  section[data-field="subtitle"],
  section[data-field="description"] { // 隐藏描述
    display: none;
  }

  .section--first > .section-divider{ // 隐藏第一条分割线
    display: none;
  }
  // ▲ 隐藏不必要 ▲

  // ▼ 格式文本 ▼
  // ol{ // 2022-01-02
    li{
      list-style: decimal;
      font-size: var(--font-size-p);
    }
  // }
  blockquote{
    font-size: var(--font-size-p);
    margin: var(--article-margin-md) 0;
  
    &.graf--blockquote{
      box-shadow: inset 3px 0 0 0 var(--primary-text-color);
      padding-left: 17px;
    }

    &.graf--pullquote{
      font-size: var(--font-size-h4);
      margin: var(--article-margin-sm);
      color: var(--primary-text-color);
      @include lg{
        font-size: var(--font-size-h3);
        margin: var(--article-margin-md);
      }
    }
  }

  hr.section-divider{  // 文中分割线
    display: block;
    height: 1px;
    margin: var(--article-margin-lg) var(--spacing-lg);
    border: 0;
    border-bottom: 1px double var(--divider-color);
  }
  
  // ▲ 格式文本 ▲

  // ▼ 代码块 / 引用外链 ▼
  code,
  pre{
    background-color: var(--pre-bg-color);
    font-size: var(--font-size-sub);
    font-family: SF Mono, "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
  }

  pre{
    padding: 16px 20px;
    color: var(--primary-text-color);
    line-height: var(--line-height-lg);
    white-space: pre-wrap;
    line-break: anywhere;
    margin: 0;
  }

  code{
    padding: 0px 4px;
    line-height: 1.2;
    margin: 4px;
    border: 1px solid var(--button-active-color);
    white-space: pre-wrap;
    line-break: anywhere;
    display: inline-block;
    border-radius: var(--border-radius-sm);
    color: var(--code-text-color);
  }
  pre code{
    padding: 0;
    margin: 0;
    border-radius: 0px;
    background-color: inherit;
    border: none;
    white-space: pre-wrap;
  }
  pre.graf-after--pre{
    padding-top: 0;
  }

  img{
    border-radius: var(--border-radius-sm);
  }
  // ▲ 代码块 ▲

  // ▼ 引用外链 ▼
  .graf--mixtapeEmbed{
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-sub);
    border: 1px solid var(--divider-color);
    margin: var(--article-margin-sm) 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-footer); // 选择到最下面的网址
    border: 1px solid var(--divider-color);
    // transition: all .2s;
    touch-action: pan-y pinch-zoom;
    @include sm {
      margin: var(--article-margin-md) 0;
    }
    a:nth-child(2){ // 配图宽度
      padding: 0;
      @include sm {
        padding: 40px 80px !important;
      }
    }
    &:hover{
      background-color: var(--button-hover-color);
    }
    &:active{
      background-color: var(--button-active-color);

    }
    a{
      color: var(--tertiary-text-color);
      text-decoration: none;
      &:hover, &:active{
        text-decoration: none;
        outline: none;
      }
      &:active{
        background-color: var(--button-active-color);
        color: inherit;

      }
      
    }
    & > a{
      box-shadow: none;
      display: block;
      padding: 16px 20px;
      text-decoration: none;
    }
    strong{
      @extend .elis-1;
      color: var(--primary-text-color);
      font-size: var(--font-size-sub);
    }
    em{
      @extend .elis-1;
      font-size: var(--font-size-footer);
    }
    br{
      display: none;
    }   
  }
  // ▲ 引用外链 ▲

  // ▼ 文本 ▼
  a{
    text-decoration: none;
    color: var(--link-text-color);
    &:hover{
      text-decoration: underline;
      @include sm {
      text-underline-position: under;
      text-underline-offset: -.8px;
      }
    }
    &:active{
      color: var(--link-text-active-color);
      text-decoration: none;
    }
  }
  h1{ // 文章标题
    text-align: left;
    padding-top: var(--spacing-sm);
    font-size: var(--font-size-h3);
    margin-bottom: 10px;
    line-height: var(--line-height-md);
    @extend .case;
    @include sm {
      font-size: var(--font-size-h2);
      padding-top: var(--spacing-lg);
      line-height: var(--line-height-sm);
    }
    @include md{
      font-size: var(--font-size-blog-title);
    }
  }
  
  h3{ // 大标题
    font-size: var(--font-size-h3);
    margin-top: var(--article-margin-lg);
    line-height: var(--line-height-md);
  }

  h4{ // 小标题
    font-size: var(--font-size-h4);
    margin-top: var(--article-margin-lg);
    line-height: var(--line-height-md);
  }

  .article-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-xxs);
    margin-block-end: var(--spacing-xs);
    .article-author{
      font-size: var(--font-size-sub);
      color: var(--tertiary-text-color);
      margin: 0;
      a{
        color: inherit;
        &:hover{
          text-decoration: underline;
          text-underline-position: under;
          color: var(--primary-text-color);
        }
      }
    }
    .article-widgets{
      font-size: var(--font-size-h4);
      display: flex;
      color: var(--tertiary-text-color);
      gap: 20px;
      touch-action: none;
      user-select: none;
      @include sm {
        font-size: var(--font-size-p);
        gap: var(--spacing-xxs);
      }

      *{
        color: var(--tertiary-text-color);
        cursor: pointer;
      }
      *:hover{
        color: var(--primary-text-color);
      }
      .icon-check{
        color: var(--copied-text-color);
      }
    }
  }

  p{
    margin: var(--article-margin-md) 0;
  }
  .graf-after--h3,
  .graf-after--h4{
    margin-top: var(--article-margin-sm);
  }
  
  figure{ // 媒体
    margin: var(--article-margin-md) auto;
    .imageCaption{
      text-align: center;
      font-size: var(--font-size-footer);
      margin-top: var(--article-margin-sm);
      color: var(--secondary-text-color);
      a{
        box-shadow: none;
        text-decoration: none;
        color: var(--secondary-text-color);
        &:hover{
          color: var(--primary-text-color);
          box-shadow: 0 1px;
        }
      }
    }
  }
  // ▲ 文本 ▲

  // ▼ 媒体处理 ▼
  figure{
    &.graf-after--h4{
      margin: var(--article-margin-md) auto;
    }
  }
  // ▲ 媒体处理 ▲

} // article
  // ▼ 底部导航 ▼
  .end-dividers{  
    display: block;
    height: 1px;
    margin: 0;
    border: 0;
    border-top: 1px solid var(--divider-color);
  }

  .hr-1{  // 结尾分割线
    margin-top: var(--article-margin-md);
    @include sm {
      margin-top: var(--article-margin-xl);
    }
  }
  .project-suggestion-title{
    font-size: var(--font-size-h4);
    font-weight: 600;
    padding-left: var(--spacing-xxs);
  }
  .project-suggestion{
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    gap: 4px;
    display: flex;
    flex-direction: column;
  }
  .project-suggestion-list{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .project-navigation{
    display: flex;
    gap: var(--spacing-xxs);
    align-items: center;
    padding: var(--spacing-xxs);
    border-radius: var(--border-radius-sm);
    // transition: all .2s;
    &:hover{
      background-color: var(--button-hover-color);
    }
    &:active{
      background-color: var(--button-active-color);
    }
    .title{
      font-weight: 600;
      margin: 0;
      font-size: var(--font-size-sub);
      @extend .elis-1;
      @include sm {
        font-size: var(--font-size-p);
      }
    }
    .desc{
      margin: 0;
      font-size: 13px;
      color: var(--secondary-text-color);
      @extend .elis-1;
      @include sm {
        font-size: var(--font-size-sub);
      }
    }
    .project-navigation-recent{
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .project-navigation-tag{
      font-size: 12px;
      padding: 5px 6px;
      color: var(--code-text-color);
      line-height: 1;
      background-color: rgba($color: #EB5757, $alpha: .15);
      margin-right: var(--spacing-xxs);
      font-weight: 500;
      border-radius: var(--border-radius-sm);
      white-space: nowrap;
      @include sm{
        font-size: 14px;
        padding: 6px 8px;
      }
    }
    .project-navigation-img{
      flex-shrink: 0;
      width: 88.88px;
      height: 56px;
    }
    img{
      height: 56px;
      object-fit: cover;
      background-color: var(--divider-color);
      border-radius: var(--border-radius-sm);
    }
  }
  .article-navigation{
    display: flex;
    line-height: var(--line-height-md);
    margin: var(--article-margin-sm) 0;
    flex-direction: column-reverse;
    @extend .case;
    a{
      text-decoration: none;
      &:nth-child(1){
        flex: 1;
      }
      &:nth-child(2){
        flex: 1;
      }
      &:hover, &:active{
        text-decoration: none;
        background-color: none;
        outline: none;
      }
    }
    @include sm {
      margin: var(--article-margin-md) 0;
      flex-direction: row;
    }
    a{
      box-shadow: none;
      border-radius: var(--border-radius-md);
      transition: all .2s;
      &:hover{
          background-color: var(--button-hover-color);
        }
      &:active{
          background-color: var(--button-active-color);
        }
    }
    .next{
      text-align: left;
      padding: 16px 16px;
      @include sm {
        text-align: right;
        margin-left: 5px;
      }
    }
    .previous{
      text-align: left;
      padding: 16px 16px;
      @include sm{
        margin-right: 5px;
      }
    }
    p{
      margin: 0;
      font-size: var(--font-size-sub);
      color: var(--tertiary-text-color);
    }
    .title{
      font-size: var(--font-size-sub);
      font-weight: 600;
      color: var(--primary-text-color);
      margin-top: var(--article-margin-sm);
      @extend .elis-1;
    }
    .no-post{
      cursor: not-allowed;
      &:hover{
        background-color: transparent;
      }
      p{
        color: var(--tertiary-text-color);
      
    }
    }
    
  }
  // ▲ 底部导航 ▲
  
  // ▼ 移动端底部功能区 ▼
  .footer-action{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    text-align: center;
    margin-top: var(--article-margin-sm);
    font-size: var(--font-size-footer);
    user-select: none;
    touch-action: pan-y pinch-zoom; // iOS 300延迟问题
    div{
      border-radius: var(--border-radius-md);
      padding: 10px 4px;
      box-shadow: none;
      a{
        box-shadow: none;
        color: var(--tertiary-text-color);
        text-decoration: none;
      }
      &:active{
        background-color: var(--button-color);
      }
    }
    .icon-back{
      margin-inline-end: 6px;
    }
    .icon-link{
      margin-inline-end: 6px;
    }
    .icon-top{
      margin-inline-end: 6px;
    }
    .copied{
      a{
        color: var(--copied-text-color);
      }
    }
    @include sm {
      display: none;
    }
  }
  // ▲ 移动端底部功能区 ▲

// ▲▲ Medium 转换的博客正文 ▲▲


// ▼▼ 博客页 blog
.blog-hero{
  h2{
    margin-top: var(--spacing-xs);
  }
}

.blog-heroimg {
    height: 200px;
    object-fit: cover;
    margin-bottom: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    background-color: var(--divider-color);
    @include sm {
      height: 280px;
      margin-bottom: var(--spacing-xs);
  }
}

.blog-author {
    color: var(--tertiary-text-color);
    font-size: var(--font-size-footer);
    letter-spacing: .5px;
    margin-bottom: var(--spacing-sm);
    cursor: text;
    line-height: var(--line-height-sm);
    @include sm {
      font-size: var(--font-size-sub);
      margin-bottom: var(--spacing-lg);
    }
}

.blog-subtitle {
  @extend .elis-2;
  color: var(--secondary-text-color);
  // line-height: var(--line-height-md);
  font-size: var(--font-size-sub);
}

.series{
  display: flex;
  flex-direction: column;
    @include md {
    flex-direction: row;
  }
  
  a{
    padding: var(--spacing-xxs) var(--spacing-xs);
    cursor: pointer;
    flex-grow: 1;
    border-radius: var(--border-radius-md);
    background-color: var(--button-color);
    // transition: background-color .3s;
    display: flex;
    flex: 1;
    @include md {
      padding: var(--spacing-xxs) var(--spacing-xs);
      flex-direction: column;
    }
    p{
      margin: 0;
      font-weight: bold;
      display: inline;
      @include md {
        display: block;
      }
    }
    p:not(:first-child){ // 选择非标题的文案
      color: var(--tertiary-text-color);
      font-weight: normal;
      font-size: var(--font-size-sub);
      text-align: right;
      margin-left: auto;
      @include md {
        text-align: left;
        margin-left: 0;
      }
    }
  }
  a:hover, a:focus-visible{
    background-color: var(--button-hover-color);
  }
  a:active{
    background-color: var(--button-active-color);
  }
  a:not(:last-child){
    margin-bottom: var(--spacing-xxs);
    @include md {
      margin-right: var(--spacing-xxs);
      margin-bottom: 0;
    }
  }
}

.blog-divider {
  margin: var(--spacing-sm) 0;
  position: relative;
  @include sm {
    margin: var(--spacing-md) 0 var(--spacing-sm);
  }
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--divider-color);
  }
  .blog-divider-title {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0px 16px 0px 0px;
    background: var(--background-color);
    color: var(--tertiary-text-color);
    font-size: 16px;
    a{
      color: var(--tertiary-text-color);
      &:hover{
         color: var(--primary-text-color);
         font-feature-settings: 'case' on;
      }
    }
  }
}
.load-more {
  background-color: var(--button-color);
  cursor: pointer;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center; 
  align-items: center;     
  color: var(--tertiary-text-color);
  letter-spacing: .5px;
  user-select: none;
  &:hover {
    background-color: var(--button-hover-color);
  }
  &:active{
    background-color: var(--button-active-color);
  }
  p{
    font-weight: 500;
    margin: 20px;
    text-align: center;
  }
}
// ▲▲ 博客页 blog

// ▼▼ 单个项目页 
.top-bar {
  padding: 88px 0 88px;
  text-align: center;
  margin: 0px 10px;
  @include sm {
      padding: 160px 0 160px;
      margin: 0 auto;
  }
  p {
    color: var(--secondary-text-color);
    letter-spacing: .5px;
    margin-bottom: 0;
  }
}

.heroimg {
  max-width: var(--container-width-xl);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto 35px;
}
// ▲▲ 单个项目页

// ▼▼ Project 首页

// 扫描二维码
.popover-mask{
  position: absolute;
  background-color: #000c;
  margin: auto;
  inset: 0;
  z-index: 99;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;

}
.popover-content{
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  z-index: 100;
  border: 1px solid var(--divider-color);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-xs);
  gap: var(--spacing-xxs);
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.08);
  width: max-content;
  height: max-content;
  margin: auto;
  inset: 0;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  touch-action: none;
  user-select: none;
  img{
    width: 240px;
    border-radius: var(--border-radius-sm);
    background-color: var(--button-color);
  }
  .scan-desc-pc{
    display: none;
    @include sm {
      font-size: var(--font-size-h4);
      text-align: center;
      margin: 0;
      font-weight: 600;
      display: block;
    }
  }
  .scan-desc-mobile{
    font-size: var(--font-size-h4);
    text-align: center;
    margin: 0;
    font-weight: 600;
    @include sm {
      display: none;
    }
  }
}

.project{
  &>*{
    margin-block-end: var(--spacing-xs);
  }
  .info{
    position: sticky;
    top: 64px;
    background: var(--background-color);
    @include md{
    top: 56px;
    }
  }
  h2{
    margin: 0;
  }
 
  .action{
    display: flex;
    gap: var(--spacing-xxs);
    font-weight: 500;
    font-size: var(--font-size-p);
    flex-direction: column;
    text-align: center;

    @include sm{
    flex-direction: row;
    }
    a{
      display: inline-block;
      width: 100%;
      padding: var(--spacing-xxs) var(--spacing-xs);
      background-color: var(--button-color);
      cursor: pointer;
      line-height: var(--line-height-sm);
      border-radius: var(--border-radius-md);
      user-select: none;
      touch-action: none;
      &:hover{  
        background-color: var(--button-hover-color);
      }
      &:active{
        background-color: var(--button-active-color);
      }
    }
    .resume a{ //查看简历按钮
      background-color: var(--negative-color);
      color: var(--background-color);
      &:hover, &:focus{
        background-color: var(--secondary-text-color);
      }
      &:active{
        // background-color: var(--negative-color);
        opacity: .6;
      }
      &::after{
        content: "";
        @extend .general-svg-icon;
        margin-inline-start: 4px;
        mask: url(../img/icon/arrow.svg) no-repeat 50% 50%/1em 1em;
      }
    }
    .emoji-hand{
      display: inline-block;
      transition: transform .3s cubic-bezier(0.33, 1, 0.68, 1);
      transform: rotate(-10deg);

    }
    .contact:hover .emoji-hand,
    .contact:focus .emoji-hand{
      transform: rotate(15deg);
    }
    
  }
  hr{
    margin: var(--spacing-md) auto var(--spacing-xs);
    background: var(--divider-color);
    border: none;
    height: 1px;
    @include md{
    margin: var(--spacing-lg) auto var(--spacing-md);
    }
  }
  .experience{
    &>*{
      gap: var(--spacing-xxs);
    }
    &>*:last-child .desc{
      margin-block-end: 0; //移除最后一项的底部距离
    }
    .info{
      display: flex;
      gap: 8px;
      padding: var(--spacing-xxs) 0 0;
      @include sm{
      gap: var(--spacing-xxs);

      }      
    }
    .company{
      display: flex;
      flex-direction: column;
      a:hover::after,a:active::after,a:focus::after{
        content: "";
        @extend .general-svg-icon;
        padding-left: 6px;
        mask: url(../img/icon/arrow.svg) no-repeat 50% 50%;
      }
      a:hover, a:focus{
        color: var(--link-text-color);
        text-underline-position: under;
        text-underline-offset: -0.8px;
        text-decoration: underline ;
      }
      a:active{
        color: var(--link-text-active-color);
        text-decoration: none;
      }
    }
    .icon{
      border-radius: var(--border-radius-sm);
      width: 24px; height: 24px;

      @include sm{
      width: 28px; height: 28px;

      }
    }
    .qlchat .icon{
      background: url("https://lrdim.oss-cn-shenzhen.aliyuncs.com/projectimg/qlchat/qlchat_logo.png") no-repeat center/100%;
      background-color: var(--button-color);
    }
    .joyy .icon{
      background: url("https://lrdim.oss-cn-shenzhen.aliyuncs.com/projectimg/analytics/joyy_logo.png") no-repeat center/100%;
      background-color: var(--button-color);


    }
    .watsons .icon{
      background: url("https://lrdim.oss-cn-shenzhen.aliyuncs.com/projectimg/watsons/watsons_logo.png") no-repeat center/100%;
      background-color: var(--button-color);
    }
    .name{
      font-size: var(--font-size-p);
      font-weight: 500;
      line-height: 24px;
      @include sm{
      font-size: var(--font-size-h4);
      line-height: 26px;
      }
    }
    .year{
      font-size: 14px;
      font-weight: 600;
      color: var(--tertiary-text-color);
      cursor: default;
    }
  }
  .showcase{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    margin-block-end: var(--spacing-xs);
    // padding-inline-start: 0;
    flex-wrap: wrap;
    padding: var(--spacing-xxs) 0;
    @include md{
    padding-inline-start: 40px;
    }
    @include sm{
    margin-block-end: var(--spacing-md);
    flex-direction: row;
    

    }
    a{
      max-width: 100%;
      border-radius: var(--border-radius-sm);
      @include sm {
        max-width: calc((100% - 24px) / 2);
      }
      .desc{
        font-size: var(--font-size-sub);
        color: var(--secondary-text-color);
        line-height: var(--line-height-md);
        display: none;
      }
      &:hover > h3, &:focus > h3{
        color: var(--link-text-color);
        text-decoration: underline;
  
        @include sm {
        text-underline-position: under;
        text-underline-offset: -0.8px;
        }
      }
      &:active > h3{
        color: var(--link-text-active-color);
        text-decoration: none; 
      }
      h3{
        font-size: var(--font-size-p);
        line-height: var(--line-height-md);
        font-feature-settings: 'case';
        @include sm{
        }
      }
      .divider{ 
        display: inline-block;
        width: 2px;
        margin: 0 2px;
        background: var(--divider-color);
        border-radius: 1px;
        height: .9em;
        vertical-align: middle;
      }
    }
    img{
      width: 100%;
      aspect-ratio: 16 / 9;
      // min-height: 152px;
      object-fit: cover;
      background-position: 50% 50%;
      margin-block-end: var(--spacing-xxs);
      border-radius: var(--border-radius-sm);
      background-color: var(--button-color);
    }
  }
}

// ▲▲ Project 首页


.toast{
  position: fixed;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 9999;
  
  font-size: var(--font-size-p);
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;

  animation: 1.2s toastShow forwards ease-in-out;
  transform-origin: 50% 50%;
  span{
    background-color: rgba(0,0,0,.8);
    padding: 16px 20px;
    border-radius: var(--border-radius-md);
  }
}

@keyframes toastShow {
  0% { opacity: 0; transform: translateY(10px) scale(.98);}
  12% { opacity: 1; transform: translateY(0px) scale(1);}
  76% { opacity: 1; transform: translateY(0px) scale(1);}
  100% { opacity: 0; transform: translateY(10px) scale(.98);}
}

// ▲▲ 作品首页

// ▼▼ 作品详情页

.project-container{
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  transition: max-width .3s cubic-bezier(0.45, 0, 0.55, 1); //放大图片的过渡动画
  img, picture{
    margin-bottom: var(--spacing-xxs);
  }
}

.extra-width{
  max-width: 1720px;
}

// ▲▲ 作品详情页

// ▼▼ lazyload
.lazyload,
.lazyloading {
	opacity: .5;
  background-color: var(--divider-color);
}
.lazyloaded {
	opacity: 1;
	transition: opacity .3s;
}
// ▲▲ lazyload

// ▼▼ 放大图片
img[data-action="zoom"] {
  cursor: zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  transition: all 300ms ease;
}
img.zoom-img {
  cursor: zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  transition: opacity 300ms ease;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: zoom-out;
}
// ▲▲ 放大图片


.hidden{
  opacity: 0;
  visibility: hidden;
}
.nav-transform{
  transform: translateY(-380px); 
}
.to-top-transform{
  transform: translateY(8px); 
}
.hide{
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

// Modify Viewer.js
#galley img{
  cursor: zoom-in;
}

.viewer-title{
  font-feature-settings: "tnum" !important;
}
.viewer-backdrop{
  background-color: rgba(0,0,0,98) !important;
}

.viewer-list{
  box-sizing: border-box !important;
  .viewer-active{
    border: 1px solid rgba(255,255,255,.3) !important;
    @include md {
    border: 2px solid rgba(255,255,255,.3) !important;
    }
  }
  & > li {
    width: 88.88px !important;
    border-radius: 2px !important;
  }
}

.viewer-navbar{
  padding: 10px !important;
  overflow-x: scroll !important;
  scroll-behavior: smooth !important;
}

.viewer-canvas{
  cursor: zoom-out;
}

// 可通过 @extend 复用的样式

.elis-1{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-break: anywhere;
}
.elis-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}