@charset "UTF-8";
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
  margin: 0;
}

ol[role=list], ul[role=list], li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

button, input, select, textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, ::after, ::before {
    -webkit-animation-duration: 0s !important;
            animation-duration: 0s !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

* em {
  font-style: normal !important;
}

:root {
  --primary-text-color: #222222;
  --secondary-text-color: #444444;
  --tertiary-text-color: #757575;
  --code-text-color: #EB5757;
  --divider-color: #E6E6E6;
  --button-color: #EEEEEE;
  --button-hover-color: #E6E6E6;
  --button-active-color: #DBDBDB;
  --pre-bg-color: #EEEEEE;
  --copied-text-color: green;
  --project-bg-color: #FFFFFF;
  --project-tags-color: #F7F7F7;
  --background-color: #F7F7F7;
  --font-size-h1: 60px;
  --font-size-blog-title: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 28px;
  --font-size-h4: 22px;
  --font-size-p: 18px;
  --font-size-sub: 16px;
  --font-size-footer: 14px;
  --line-height-sm: 1.2;
  --line-height-md: 1.4;
  --line-height-lg: 1.8;
  --container-width-md: 768px;
  --container-width-xl: 1080px;
  --spacing-xxs: 12px;
  --spacing-xs: 24px;
  --spacing-sm: 32px;
  --spacing-md: 48px;
  --spacing-lg: 56px;
  --article-margin-sm: 10px;
  --article-margin-md: 30px;
  --article-margin-lg: 45px;
  --article-margin-xl: 60px;
  --nav-shadow: rgba(0,0,0,.15);
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
}

:root .dark {
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #D9D9D9;
  --tertiary-text-color: #999999;
  --code-text-color: #f05656;
  --divider-color: #333333;
  --button-color: #292929;
  --button-hover-color: #333333;
  --button-active-color: #262626;
  --pre-bg-color: #262626;
  --copied-text-color: #64A838;
  --project-bg-color: #262626;
  --project-tags-color: #333333;
  --background-color: #1A1A1A;
  --nav-shadow: rgba(255,255,255,.15);
}

:root .dark .box-logo {
  background-image: url("data:image/svg+xml,%3Csvg width='174' height='80' viewBox='0 0 174 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h174v80H0z'/%3E%3Cpath d='M37.092 50.472c.447 0 .819.156 1.117.47.298.312.447.677.447 1.095v3.22c0 .416-.15.782-.447 1.095-.298.313-.67.47-1.117.47H17.564a1.5 1.5 0 0 1-1.095-.47A1.502 1.502 0 0 1 16 55.256V25.565c0-.417.156-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h3.351a1.5 1.5 0 0 1 1.095.47c.313.313.47.678.47 1.095v24.907h14.612zm31.573 3.935c.327.506.342 1.043.044 1.61-.298.536-.745.804-1.34.804h-4.022c-.566 0-.998-.238-1.296-.715l-6.703-10.687h-7.91v9.837c0 .417-.156.783-.469 1.096a1.5 1.5 0 0 1-1.094.47h-3.352a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.469-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h14.21c3.426 0 6.197.969 8.312 2.907 2.145 1.967 3.217 4.62 3.217 7.959 0 2.146-.469 3.987-1.407 5.522-.939 1.535-2.316 2.69-4.134 3.466a3.72 3.72 0 0 1-.357.156 3.72 3.72 0 0 0-.358.157l6.659 10.24zM47.439 39.114h8.713c2.562 0 4.305-.73 5.229-2.191.298-.537.447-1.222.447-2.057 0-1.401-.462-2.504-1.386-3.31-1.013-.834-2.383-1.251-4.11-1.251h-8.893v8.809zm44.353-13.996a14.713 14.713 0 0 1 4.87 3.309c3.099 3.16 4.648 7.154 4.648 11.984 0 4.829-1.55 8.823-4.648 11.983a14.599 14.599 0 0 1-10.546 4.427H73.604a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.095V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h12.512c.984 0 1.952.097 2.905.29.953.194 1.877.47 2.77.828zM78.52 50.516h7.462c2.622 0 4.752-.969 6.39-2.906 1.639-1.908 2.458-4.308 2.458-7.2 0-2.891-.819-5.29-2.458-7.199-1.638-1.937-3.768-2.906-6.39-2.906H78.52v20.211zm30.41-1.296c.418 0 .783.149 1.095.447.313.298.47.67.47 1.118v4.65c0 .417-.157.782-.47 1.095a1.5 1.5 0 0 1-1.094.47h-4.067c-.447 0-.819-.157-1.117-.47a1.54 1.54 0 0 1-.447-1.095v-4.65c0-.448.15-.82.447-1.118.298-.298.67-.447 1.117-.447h4.067zM119.234 24a1.5 1.5 0 0 1 1.095.47c.312.313.469.678.469 1.095v29.691c0 .417-.157.783-.47 1.096a1.5 1.5 0 0 1-1.094.47h-3.352a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h3.352zm37.203 0a1.5 1.5 0 0 1 1.095.47c.313.313.469.678.469 1.095v29.691c0 .417-.156.783-.47 1.096a1.5 1.5 0 0 1-1.094.47h-3.351a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.47-1.096V35.224l-8.222 10.552c-.298.388-.7.582-1.206.582-.507 0-.909-.194-1.207-.582l-8.4-10.597v20.077c0 .417-.157.783-.47 1.096a1.5 1.5 0 0 1-1.095.47h-3.351a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.095-.47h3.888c.506 0 .923.209 1.25.626l9.385 12.43 9.205-12.43c.268-.417.685-.626 1.251-.626h3.888z' fill='rgba(238,238,238,1)'/%3E%3C/g%3E%3C/svg%3E");
}

:root .dark .zoom-overlay {
  background: #2C2C2E;
}

:root .dark .icon-menu {
  background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath d='M0 8h48v4H0V8zm0 14h48v4H0v-4zm0 14h48v4H0v-4z' fill='rgba(238,238,238,1)' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
}

:root .dark .icon-close {
  background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill-rule='nonzero' d='M24 21.172l14.9-14.9L41.728 9.1 26.828 24l14.9 14.9-2.828 2.828-14.9-14.9-14.9 14.9L6.272 38.9l14.9-14.9-14.9-14.9L9.1 6.272z' fill='rgba(238,238,238,1)' /%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
}

:root .dark .icon-forward {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 3v2H5v14h14v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6zm7.707 4.707L12 13.414 10.586 12l5.707-5.707L13 3h8v8l-3.293-3.293z' fill='rgba(238,238,238,1)' /%3E%3C/svg%3E") no-repeat center;
}

html,
body {
  font-family: -apple-system,BlinkMacSystemFont,"HarmonyOS Sans","Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Lantinghei SC","Microsoft Yahei","Source Han Sans CN",sans-serif;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  line-height: var(--line-height-lg);
  font-style: normal;
  scroll-behavior: smooth;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding [class^="col-"] {
  padding: 10px;
}

.center {
  text-align: center;
}

.container, article {
  max-width: var(--container-width-md);
  margin: 0 auto;
  padding: 0 15px;
}

.spacing {
  margin-top: var(--spacing-sm) !important;
}

@media (min-width: 576px) {
  .spacing {
    margin-top: var(--spacing-lg) !important;
  }
}

img {
  width: 100%;
  height: auto;
}

.elis-1, article .graf--mixtapeEmbed strong, article .graf--mixtapeEmbed em, .article-navigation .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.elis-2, .blog h2, .blog-subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

h1 {
  margin: 20px auto 20px;
  font-weight: 700;
  font-size: var(--font-size-h2);
  margin-top: 0;
  line-height: var(--line-height-sm);
}

@media (min-width: 576px) {
  h1 {
    font-size: var(--font-size-h1);
  }
}

h2 {
  font-weight: 700;
  line-height: var(--line-height-md);
  font-size: 24px;
  color: var(--primary-text-color);
  margin-top: var(--spacing-md);
}

@media (min-width: 576px) {
  h2 {
    font-size: var(--font-size-h2);
    margin-top: var(--spacing-lg);
  }
}

section p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  font-size: var(--font-size-p);
  font-weight: 400;
  margin: 5px 0 20px;
}

@media (min-width: 576px) {
  p {
    margin: 10px 0 30px;
  }
}

a {
  color: var(--primary-text-color);
  display: inline;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--primary-text-color);
}

@media (prefers-reduced-motion: no-preference) {
  a:focus-visible {
    -webkit-transition: outline-offset .2s ease;
    transition: outline-offset .2s ease;
    outline-offset: 4px;
  }
}

a.underline {
  -webkit-box-shadow: 0 1px;
          box-shadow: 0 1px;
}

a.underline:hover {
  color: var(--primary-text-color);
}

.vpn:hover::after,
.vpn:focus::after {
  content: ' (需要科学上网)';
}

.changelog {
  font-variant-numeric: tabular-nums;
  font-size: var(--font-size-p);
  margin-top: 10px;
}

.changelog li {
  list-style-type: disc;
}

.container-fluid {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99;
  -ms-touch-action: pan-y pinch-zoom;
      touch-action: pan-y pinch-zoom;
  background-color: var(--background-color);
}

.container-fluid .box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background: var(--background-color);
  height: 64px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 2px 2px -2px var(--nav-shadow);
          box-shadow: 0 2px 2px -2px var(--nav-shadow);
}

@media (min-width: 768px) {
  .container-fluid .box-header {
    height: 72px;
  }
}

.container-fluid .box-header .vw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  width: var(--container-width-xl);
}

.nav-open {
  position: fixed;
  z-index: 98;
  width: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 64px;
  -webkit-box-shadow: 0 -2px 2px -2px var(--nav-shadow), 0 2px 2px -2px var(--nav-shadow);
          box-shadow: 0 -2px 2px -2px var(--nav-shadow), 0 2px 2px -2px var(--nav-shadow);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--background-color);
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: var(--font-size-p);
}

@media (min-width: 576px) {
  .nav-open {
    display: none !important;
  }
}

.nav-open a {
  padding: 20px 20px;
  -webkit-box-shadow: 0 2px 2px -2px var(--nav-shadow);
          box-shadow: 0 2px 2px -2px var(--nav-shadow);
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.nav-open a:hover, .nav-open a:active {
  background-color: var(--button-hover-color);
}

.nav-open a:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-open ul {
  padding: 0px;
  margin: 0px;
}

.nav-open ul li {
  font-size: var(--font-size-p);
}

.nav-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 97;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 576px) {
  .nav-mask {
    display: none !important;
  }
}

.box-logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  width: 87px;
  background: url("data:image/svg+xml,%3Csvg width='174' height='80' viewBox='0 0 174 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h174v80H0z'/%3E%3Cpath d='M37.092 50.472c.447 0 .819.156 1.117.47.298.312.447.677.447 1.095v3.22c0 .416-.15.782-.447 1.095-.298.313-.67.47-1.117.47H17.564a1.5 1.5 0 0 1-1.095-.47A1.502 1.502 0 0 1 16 55.256V25.565c0-.417.156-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h3.351a1.5 1.5 0 0 1 1.095.47c.313.313.47.678.47 1.095v24.907h14.612zm31.573 3.935c.327.506.342 1.043.044 1.61-.298.536-.745.804-1.34.804h-4.022c-.566 0-.998-.238-1.296-.715l-6.703-10.687h-7.91v9.837c0 .417-.156.783-.469 1.096a1.5 1.5 0 0 1-1.094.47h-3.352a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.469-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h14.21c3.426 0 6.197.969 8.312 2.907 2.145 1.967 3.217 4.62 3.217 7.959 0 2.146-.469 3.987-1.407 5.522-.939 1.535-2.316 2.69-4.134 3.466a3.72 3.72 0 0 1-.357.156 3.72 3.72 0 0 0-.358.157l6.659 10.24zM47.439 39.114h8.713c2.562 0 4.305-.73 5.229-2.191.298-.537.447-1.222.447-2.057 0-1.401-.462-2.504-1.386-3.31-1.013-.834-2.383-1.251-4.11-1.251h-8.893v8.809zm44.353-13.996a14.713 14.713 0 0 1 4.87 3.309c3.099 3.16 4.648 7.154 4.648 11.984 0 4.829-1.55 8.823-4.648 11.983a14.599 14.599 0 0 1-10.546 4.427H73.604a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.095V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h12.512c.984 0 1.952.097 2.905.29.953.194 1.877.47 2.77.828zM78.52 50.516h7.462c2.622 0 4.752-.969 6.39-2.906 1.639-1.908 2.458-4.308 2.458-7.2 0-2.891-.819-5.29-2.458-7.199-1.638-1.937-3.768-2.906-6.39-2.906H78.52v20.211zm30.41-1.296c.418 0 .783.149 1.095.447.313.298.47.67.47 1.118v4.65c0 .417-.157.782-.47 1.095a1.5 1.5 0 0 1-1.094.47h-4.067c-.447 0-.819-.157-1.117-.47a1.54 1.54 0 0 1-.447-1.095v-4.65c0-.448.15-.82.447-1.118.298-.298.67-.447 1.117-.447h4.067zM119.234 24a1.5 1.5 0 0 1 1.095.47c.312.313.469.678.469 1.095v29.691c0 .417-.157.783-.47 1.096a1.5 1.5 0 0 1-1.094.47h-3.352a1.5 1.5 0 0 1-1.094-.47 1.502 1.502 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.094-.47h3.352zm37.203 0a1.5 1.5 0 0 1 1.095.47c.313.313.469.678.469 1.095v29.691c0 .417-.156.783-.47 1.096a1.5 1.5 0 0 1-1.094.47h-3.351a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.47-1.096V35.224l-8.222 10.552c-.298.388-.7.582-1.206.582-.507 0-.909-.194-1.207-.582l-8.4-10.597v20.077c0 .417-.157.783-.47 1.096a1.5 1.5 0 0 1-1.095.47h-3.351a1.5 1.5 0 0 1-1.095-.47 1.502 1.502 0 0 1-.47-1.096V25.565c0-.417.157-.782.47-1.095a1.5 1.5 0 0 1 1.095-.47h3.888c.506 0 .923.209 1.25.626l9.385 12.43 9.205-12.43c.268-.417.685-.626 1.251-.626h3.888z' fill='rgba(34,34,34,1)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/100%;
}

.nav-text-box {
  display: none;
}

@media (min-width: 576px) {
  .nav-text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-text-box p {
  margin: 0px 20px;
}

.nav-text-box p:hover {
  font-weight: 500;
}

.nav-text-box p:last-child {
  margin-right: 0;
}

.nav-text-box a {
  color: var(--tertiary-text-color);
}

.nav-text-box a:hover {
  color: var(--secondary-text-color);
}

.nav-text-box .active {
  font-weight: 500;
  color: var(--primary-text-color);
}

.icon-menu {
  background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath d='M0 8h48v4H0V8zm0 14h48v4H0v-4zm0 14h48v4H0v-4z' fill='rgba(34,34,34,1)' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
  width: 40px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .icon-menu {
    display: none;
  }
}

.icon-close {
  background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath fill-rule='nonzero' d='M24 21.172l14.9-14.9L41.728 9.1 26.828 24l14.9 14.9-2.828 2.828-14.9-14.9-14.9 14.9L6.272 38.9l14.9-14.9-14.9-14.9L9.1 6.272z' fill='rgba(34,34,34,1)' /%3E%3C/g%3E%3C/svg%3E") no-repeat center/50%;
  width: 40px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .icon-close {
    display: none;
  }
}

.archive {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
  width: 100%;
  padding: 0 20px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .archive {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: var(--container-width-md);
  }
}

@media (min-width: 1200px) {
  .archive {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: var(--container-width-xl);
  }
}

.archive img {
  border-radius: var(--border-radius-sm);
}

.archive a {
  position: relative;
  display: block;
}

.archive a:hover > .item-hover {
  visibility: visible;
  opacity: 1;
}

.archive .item-hover {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  color: #FFFFFF;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-sm);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer {
  padding: 80px 0 40px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

footer .copyright {
  color: var(--tertiary-text-color);
  font-size: var(--font-size-footer);
}

footer p {
  margin: 0;
  padding: 0;
}

.to-top {
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--button-color);
  border-radius: var(--border-radius-md);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: hidden;
}

@media (min-width: 576px) {
  .to-top {
    visibility: visible;
  }
}

.to-top:hover {
  background: var(--button-hover-color);
}

.to-top:active {
  background: var(--button-active-color);
}

.to-top svg {
  fill: var(--secondary-text-color);
}

.to-top:hover > svg {
  fill: var(--primary-text-color);
}

.blog-post p {
  margin: 30px 0;
}

.blog-post p.imgCaption {
  margin: 5px 0 30px 0;
  font-size: var(--font-size-sub);
}

.blog-post .imgCaption a:hover {
  -webkit-box-shadow: 0 1px;
          box-shadow: 0 1px;
  color: var(--primary-text-color);
}

.blog-post .imgCaption {
  text-align: center;
  font-size: var(--font-size-sub);
  color: var(--tertiary-text-color);
}

.blog-post .imgCaption a {
  color: inherit;
}

.blog-post .imgCaption a:hover {
  color: var(--primary-text-color);
}

article .section--first h3.graf--leading {
  display: none;
}

article section[data-field="subtitle"],
article section[data-field="description"] {
  display: none;
}

article .section--first > .section-divider {
  display: none;
}

article ol li {
  list-style: decimal;
  font-size: var(--font-size-p);
}

article blockquote {
  font-size: var(--font-size-p);
  margin: var(--article-margin-md) 0;
  margin-left: -20px;
}

article blockquote.graf--blockquote {
  -webkit-box-shadow: inset 3px 0 0 0 var(--primary-text-color);
          box-shadow: inset 3px 0 0 0 var(--primary-text-color);
  padding-left: 17px;
}

article blockquote.graf--pullquote {
  font-size: var(--font-size-h2);
  margin: var(--article-margin-lg);
  color: var(--tertiary-text-color);
}

article hr.section-divider {
  display: block;
  height: 1px;
  margin: var(--article-margin-lg) var(--spacing-lg);
  border: 0;
  border-bottom: 1px double var(--divider-color);
}

article code,
article pre {
  background-color: var(--pre-bg-color);
  font-size: var(--font-size-sub);
  font-family: SF Mono, "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
}

article pre {
  padding: 16px 20px;
  color: var(--primary-text-color);
  line-height: var(--line-height-lg);
  white-space: pre-wrap;
  line-break: anywhere;
  margin: 0;
}

article code {
  padding: 0px 4px;
  line-height: 1.2;
  margin: 4px;
  border: 1px solid var(--button-active-color);
  white-space: pre-wrap;
  line-break: anywhere;
  display: inline-block;
  border-radius: var(--border-radius-sm);
  color: var(--code-text-color);
}

article pre code {
  padding: 0;
  margin: 0;
  border-radius: 0px;
  background-color: inherit;
  border: none;
  white-space: pre-wrap;
}

article pre.graf-after--pre {
  padding-top: 0;
}

article img {
  border-radius: var(--border-radius-sm);
}

article .graf--mixtapeEmbed {
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-sub);
  border: 1px solid var(--divider-color);
  margin: var(--article-margin-sm) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--font-size-footer);
  border: 1px solid var(--divider-color);
  -webkit-transition: all .2s;
  transition: all .2s;
  -ms-touch-action: pan-y pinch-zoom;
      touch-action: pan-y pinch-zoom;
}

@media (min-width: 576px) {
  article .graf--mixtapeEmbed {
    margin: var(--article-margin-md) 0;
  }
}

article .graf--mixtapeEmbed a:nth-child(2) {
  padding: 0;
}

@media (min-width: 576px) {
  article .graf--mixtapeEmbed a:nth-child(2) {
    padding: 40px 80px !important;
  }
}

article .graf--mixtapeEmbed:hover {
  background-color: var(--button-hover-color);
}

article .graf--mixtapeEmbed:active {
  background-color: var(--button-active-color);
}

article .graf--mixtapeEmbed a {
  color: var(--tertiary-text-color);
}

article .graf--mixtapeEmbed > a {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  padding: 16px 20px;
}

article .graf--mixtapeEmbed strong {
  color: var(--primary-text-color);
  font-size: var(--font-size-sub);
}

article .graf--mixtapeEmbed em {
  font-size: var(--font-size-footer);
}

article .graf--mixtapeEmbed br {
  display: none;
}

article h1 {
  text-align: left;
  padding-top: var(--spacing-sm);
  font-size: var(--font-size-h2);
  margin-bottom: 10px;
  line-height: var(--line-height-md);
}

@media (min-width: 576px) {
  article h1 {
    font-size: var(--font-size-blog-title);
    padding-top: var(--spacing-lg);
  }
}

article h3 {
  font-size: var(--font-size-h3);
  margin-top: var(--article-margin-lg);
  line-height: var(--line-height-md);
}

article h4 {
  font-size: var(--font-size-h4);
  margin-top: var(--article-margin-lg);
  line-height: var(--line-height-md);
}

article .article-info {
  font-size: var(--font-size-sub);
  color: var(--tertiary-text-color);
  margin-top: 0;
}

article .article-info a {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: inherit;
}

article .article-info a:hover {
  -webkit-box-shadow: 0 1px;
          box-shadow: 0 1px;
  color: var(--primary-text-color);
}

article a {
  -webkit-box-shadow: 0 1px;
          box-shadow: 0 1px;
}

article p {
  margin: var(--article-margin-md) 0;
}

article .graf-after--h3,
article .graf-after--h4 {
  margin-top: var(--article-margin-sm);
}

article figure {
  margin: var(--article-margin-md) auto;
}

article figure .imageCaption {
  text-align: center;
  font-size: var(--font-size-footer);
  margin-top: var(--article-margin-sm);
  color: var(--secondary-text-color);
}

article figure .imageCaption a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

article figure .imageCaption a:hover {
  color: var(--primary-text-color);
  -webkit-box-shadow: 0 1px;
          box-shadow: 0 1px;
}

.end-dividers {
  display: block;
  height: 1px;
  margin: 0;
  border: 0;
  border-top: 1px solid var(--divider-color);
}

.hr-1 {
  margin-top: var(--article-margin-md);
}

@media (min-width: 576px) {
  .hr-1 {
    margin-top: var(--article-margin-xl);
  }
}

.article-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: var(--line-height-md);
  margin: var(--article-margin-sm) 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.article-navigation a:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.article-navigation a:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 576px) {
  .article-navigation {
    margin: var(--article-margin-md) 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.article-navigation a {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: var(--border-radius-md);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.article-navigation a:hover {
  background-color: var(--button-color);
}

.article-navigation a:active {
  background-color: var(--button-active-color);
}

.article-navigation .next {
  text-align: left;
  padding: 16px 16px;
}

@media (min-width: 576px) {
  .article-navigation .next {
    text-align: right;
    margin-left: 5px;
  }
}

.article-navigation .previous {
  text-align: left;
  padding: 16px 16px;
}

@media (min-width: 576px) {
  .article-navigation .previous {
    margin-right: 5px;
  }
}

.article-navigation p {
  margin: 0;
  font-size: var(--font-size-sub);
  color: var(--tertiary-text-color);
}

.article-navigation .title {
  font-size: var(--font-size-sub);
  font-weight: 600;
  color: var(--primary-text-color);
  margin-top: var(--article-margin-sm);
}

.article-navigation .no-post {
  cursor: not-allowed;
}

.article-navigation .no-post:hover {
  background-color: transparent;
}

.article-navigation .no-post p {
  color: var(--tertiary-text-color);
}

.footer-action {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: var(--article-margin-sm);
  font-size: var(--font-size-footer);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y pinch-zoom;
      touch-action: pan-y pinch-zoom;
}

.footer-action div {
  border-radius: var(--border-radius-md);
  padding: 10px 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-action div a {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--tertiary-text-color);
}

.footer-action div:active {
  background-color: var(--button-color);
}

.footer-action .footer-action-icon, .footer-action .icon-back, .footer-action .icon-link, .footer-action .icon-top {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -2px;
  margin-right: 8px;
}

.footer-action .icon-back {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M8 4h13v2H8V4zM4.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 6.9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM8 11h13v2H8v-2zm0 7h13v2H8v-2z' fill='rgba(117,117,117,1)'/%3E%3C/svg%3E") no-repeat center;
}

.footer-action .icon-link {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17.657 14.828l-1.414-1.414L17.657 12A4 4 0 1 0 12 6.343l-1.414 1.414-1.414-1.414 1.414-1.414a6 6 0 0 1 8.485 8.485l-1.414 1.414zm-2.829 2.829l-1.414 1.414a6 6 0 1 1-8.485-8.485l1.414-1.414 1.414 1.414L6.343 12A4 4 0 1 0 12 17.657l1.414-1.414 1.414 1.414zm0-9.9l1.415 1.415-7.071 7.07-1.415-1.414 7.071-7.07z' fill='rgba(117,117,117,1)'/%3E%3C/svg%3E") no-repeat center;
}

.footer-action .icon-top {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13 7.828V20h-2V7.828l-5.364 5.364-1.414-1.414L12 4l7.778 7.778-1.414 1.414L13 7.828z' fill='rgba(117,117,117,1)'/%3E%3C/svg%3E") no-repeat center;
}

.footer-action .copied a {
  color: var(--copied-text-color);
}

@media (min-width: 576px) {
  .footer-action {
    display: none;
  }
}

.blog-hero h2 {
  margin-top: var(--spacing-xs);
}

.blog-heroimg {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: var(--spacing-xs);
  border-radius: var(--border-radius-sm);
}

@media (min-width: 576px) {
  .blog-heroimg {
    height: 330px;
    margin-bottom: var(--spacing-xs);
  }
}

.blog-author {
  color: var(--tertiary-text-color);
  font-size: var(--font-size-footer);
  letter-spacing: .5px;
  margin-bottom: var(--spacing-sm);
  cursor: text;
}

@media (min-width: 576px) {
  .blog-author {
    font-size: var(--font-size-sub);
    margin-bottom: var(--spacing-lg);
  }
}

.blog-subtitle {
  color: var(--secondary-text-color);
}

.series {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .series {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.series a {
  padding: var(--spacing-xxs) var(--spacing-xs);
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: var(--border-radius-md);
  background-color: var(--button-color);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .series a {
    padding: var(--spacing-xs);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.series a p {
  margin: 0;
  font-weight: bold;
  display: inline;
}

@media (min-width: 768px) {
  .series a p {
    display: block;
  }
}

.series a p:not(:first-child) {
  color: var(--tertiary-text-color);
  font-weight: normal;
  font-size: var(--font-size-sub);
  text-align: right;
  margin-left: auto;
}

@media (min-width: 768px) {
  .series a p:not(:first-child) {
    text-align: left;
    margin-left: 0;
  }
}

.series a:hover, .series a:focus-visible {
  background-color: var(--button-hover-color);
}

.series a:active {
  background-color: var(--button-active-color);
}

.series a:not(:last-child) {
  margin-bottom: var(--spacing-xxs);
}

@media (min-width: 768px) {
  .series a:not(:last-child) {
    margin-right: var(--spacing-xxs);
    margin-bottom: 0;
  }
}

.blog-divider {
  margin: var(--spacing-sm) 0;
  position: relative;
}

@media (min-width: 576px) {
  .blog-divider {
    margin: var(--spacing-md) 0;
  }
}

.blog-divider::after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--divider-color);
}

.blog-divider .blog-divider-title {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0px 16px 0px 0px;
  background: var(--background-color);
  color: var(--tertiary-text-color);
  font-size: 16px;
}

.load-more {
  background-color: var(--button-color);
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border-radius: var(--border-radius-md);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--tertiary-text-color);
  letter-spacing: .5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.load-more:hover {
  background-color: var(--button-hover-color);
}

.load-more:hover > .load-more-text {
  color: var(--primary-text-color);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.load-more:active {
  background-color: var(--button-active-color);
}

.load-more p {
  font-weight: 500;
  margin: 20px 0;
}

.top-bar {
  padding: 88px 0 88px;
  text-align: center;
  margin: 0px 10px;
}

@media (min-width: 576px) {
  .top-bar {
    padding: 160px 0 160px;
    margin: 0 auto;
  }
}

.top-bar p {
  color: var(--secondary-text-color);
  letter-spacing: .5px;
  margin-bottom: 0;
}

.heroimg {
  max-width: var(--container-width-xl);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto 35px;
}

.project {
  width: var(--container-width-sm);
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .project {
    width: var(--container-width-md);
  }
}

@media (min-width: 1200px) {
  .project {
    width: var(--container-width-xl);
  }
}

.project section {
  position: relative;
  overflow: hidden;
  margin-bottom: var(--spacing-xs);
  -ms-touch-action: pan-y pinch-zoom;
      touch-action: pan-y pinch-zoom;
}

@media (min-width: 768px) {
  .project section {
    margin-bottom: var(--spacing-sm);
  }
}

.project section .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  width: 100%;
  max-width: 432px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .project section .desc {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 324px;
  }
}

@media (min-width: 1200px) {
  .project section .desc {
    max-width: 484px;
  }
}

.project section .desc h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  word-spacing: -.1em;
}

@media (min-width: 768px) {
  .project section .desc h2 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .project section .desc h2 {
    font-size: 48px;
  }
}

.project section .desc p {
  font-size: var(--font-size-p);
  margin: 0;
  margin-top: var(--spacing-xxs);
  color: var(--secondary-text-color);
}

@media (min-width: 768px) {
  .project section .desc p {
    margin-top: var(--spacing-xxs);
  }
}

.project section .project-tags {
  margin-top: var(--spacing-xxs);
  font-size: var(--font-size-sub);
  display: none;
}

.project section .project-tags span {
  color: var(--tertiary-text-color);
  padding: 6px 10px;
  background-color: var(--project-tags-color);
  margin-right: var(--spacing-xxs);
  font-weight: 500;
  border-radius: var(--border-radius-sm);
}

@media (min-width: 1200px) {
  .project section .project-tags {
    display: block;
  }
}

.project section .project-enter, .project section .ql-btn, .project section .yt-btn, .project section .self-btn, .project section .watsons-btn {
  color: #FFFFFF;
  font-size: var(--font-size-p);
  padding: 0;
  text-align: center;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  margin-top: var(--spacing-xs);
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: none;
}

@media (min-width: 768px) {
  .project section .project-enter, .project section .ql-btn, .project section .yt-btn, .project section .self-btn, .project section .watsons-btn {
    padding: 10px 0px;
    width: 156px;
    margin-top: var(--spacing-sm);
    font-size: var(--font-size-p);
    display: block;
  }
}

@media (min-width: 1200px) {
  .project section .project-enter, .project section .ql-btn, .project section .yt-btn, .project section .self-btn, .project section .watsons-btn {
    padding: 12px 0px;
    width: 188px;
    margin-top: var(--spacing-sm);
    font-size: 20px;
  }
}

.project section .ql-btn {
  background-color: #FD3759;
}

.project section .ql-btn:hover {
  background-color: #F32F50;
}

.project section .ql-btn:active {
  background-color: #E32243;
}

.project section .ql-btn:focus-visible {
  background-color: #F32F50;
  -webkit-box-shadow: 0 0 0 3px var(--project-bg-color), 0 0 0 5px #F32F50;
          box-shadow: 0 0 0 3px var(--project-bg-color), 0 0 0 5px #F32F50;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
  outline: none;
}

.project section .yt-btn {
  background-color: #1E86FF;
}

.project section .yt-btn:hover {
  background-color: #0C6EFF;
}

.project section .yt-btn:active {
  background-color: #0F65E5;
}

.project section .yt-btn:focus-visible {
  background-color: #0C6EFF;
  -webkit-box-shadow: 0 0 0 3px var(--project-bg-color), 0 0 0 5px #0C6EFF;
          box-shadow: 0 0 0 3px var(--project-bg-color), 0 0 0 5px #0C6EFF;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
  outline: none;
}

.project section .self-btn {
  background-color: #111111;
}

.project section .self-btn:hover {
  background-color: #0A0A0A;
}

.project section .self-btn:active {
  background-color: #000000;
}

.project section .self-btn:focus-visible {
  background-color: #0A0A0A;
  -webkit-box-shadow: 0 0 0 3px var(--project-bg-color), 0 0 0 5px #0A0A0A;
          box-shadow: 0 0 0 3px var(--project-bg-color), 0 0 0 5px #0A0A0A;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
  outline: none;
}

.project section .watsons-btn {
  background-color: #15B1C5;
}

.project section .watsons-btn:hover {
  background-color: #0BA7BE;
}

.project section .watsons-btn:active {
  background-color: #079AB0;
}

.project section .watsons-btn:focus-visible {
  background-color: #0BA7BE;
  -webkit-box-shadow: 0 0 0 3px var(--project-bg-color), 0 0 0 5px #0BA7BE;
          box-shadow: 0 0 0 3px var(--project-bg-color), 0 0 0 5px #0BA7BE;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
  outline: none;
}

.project section .icon-forward {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 3v2H5v14h14v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6zm7.707 4.707L12 13.414 10.586 12l5.707-5.707L13 3h8v8l-3.293-3.293z' fill='rgba(255,255,255,1)' /%3E%3C/svg%3E") no-repeat center;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -2.5px;
  margin-left: 6px;
}

.project .project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--spacing-sm) var(--spacing-xs) 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius-md);
  background-color: var(--project-bg-color);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .project .project-card {
    padding: var(--spacing-sm) var(--spacing-md);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .project .project-card {
    padding: var(--spacing-md) var(--spacing-lg);
    min-height: 400px;
  }
}

.project .project-img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.06));
  max-width: 520px;
}

@media (min-width: 768px) {
  .project .project-img {
    max-width: 460px;
    position: absolute;
    right: -150px;
    top: 56px;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: drop-shadow(0px 25px 20px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0px 25px 20px rgba(0, 0, 0, 0.2));
  }
  .project .project-img:hover {
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}

@media (min-width: 1200px) {
  .project .project-img {
    max-width: 600px;
    right: -160px;
    top: 72px;
  }
}

.toast {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: var(--font-size-p);
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  -webkit-animation: 1.2s toastShow forwards ease-in-out;
          animation: 1.2s toastShow forwards ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.toast span {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px 20px;
  border-radius: var(--border-radius-md);
}

@-webkit-keyframes toastShow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px) scale(0.98);
            transform: translateY(10px) scale(0.98);
  }
  12% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  76% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px) scale(0.98);
            transform: translateY(10px) scale(0.98);
  }
}

@keyframes toastShow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px) scale(0.98);
            transform: translateY(10px) scale(0.98);
  }
  12% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  76% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px) scale(0.98);
            transform: translateY(10px) scale(0.98);
  }
}

.project-container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-container img, .project-container picture {
  margin-bottom: var(--spacing-xxs);
}

.lazyload,
.lazyloading {
  opacity: .5;
  background-color: var(--divider-color);
}

.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

img[data-action="zoom"] {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

img.zoom-img {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.nav-transform {
  -webkit-transform: translateY(-380px);
          transform: translateY(-380px);
}

.to-top-transform {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.hide {
  display: none;
}

#galley img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.viewer-title {
  -webkit-font-feature-settings: "tnum" !important;
          font-feature-settings: "tnum" !important;
}

.viewer-backdrop {
  background-color: black !important;
}

.viewer-list {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.viewer-list .viewer-active {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

@media (min-width: 768px) {
  .viewer-list .viewer-active {
    border: 2px solid rgba(255, 255, 255, 0.3) !important;
  }
}

.viewer-list > li {
  width: 88.88px !important;
  border-radius: 2px !important;
}

.viewer-navbar {
  padding: 10px !important;
}

.viewer-canvas {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
/*# sourceMappingURL=main.css.map */