html,
body {
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Lantinghei SC","Microsoft Yahei","Source Han Sans CN","WenQuanYi Micro Hei",SimSun,sans-serif;
    line-height: 1.8;
    color: #999;
    -webkit-cursor: default;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}

.container-fluid{
    padding: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding [class^="col-"] {
    padding: 10px;
}

/*.main-container {
    padding: 100px 0;
}*/

.center {
    text-align: center;
}

a {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover{
  color: currentColor;
  text-decoration: none;
}

a:focus{
  color: currentColor;
  text-decoration: none;
}
a:active{
  color: currentColor;
  text-decoration: none;
}




.imgCaption a{
    color: #999999;
    border-bottom: 1px solid ;

}

.preview{
    text-align: center;
    padding-top: 25px;
    /*margin-bottom: 20px;*/
}

.imgCaption{
    text-align: center;
    font-size: 16px;
    color: #999999;
}

.uppercase {
    text-transform: uppercase;
}
.color {
    color: #ffbf00;
    font-size: 11px;
}

/* typography
==================================================*/

h1 {
    color: #232323;
    line-height: 1.8;
    margin: 20px auto 20px ;
    -webkit-font-smoothing: antialiased;
}

h2{
    color: #232323;
    line-height: 1.8;
    margin: 20px auto 20px ;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}

h3 {
    color: #393939;
    -webkit-font-smoothing: antialiased;
}

h5 {
    color: #ffbf00;
    -webkit-font-smoothing: antialiased;
}

p{
    color: #232323;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height:1.8;
    margin: 5px 0 40px;
    -webkit-font-smoothing: antialiased;
}
p a{
  color: #232323;
  display: inline;  
  border-bottom: 1px solid currentColor;
}

p a::-moz-selection {
  color: currentColor;
}

p a::selection {
  color: currentColor;
}

p a:hover{
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}


li{
    -webkit-font-smoothing: antialiased;
}

span{
    -webkit-font-smoothing: antialiased;

}

.icon_center{
    display: inline-block;
    text-align: center;
}


/* headr
==================================================*/

.box-header {
    position: relative;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100px;
    z-index: 3;
    width: 100%;;
}

.box-header {
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: auto;
    
}
.vw{
  max-width: 1920px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
.box-header.is-fixed {
    position: fixed;
    top: -100px;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    /* left: 50%; */
    /* -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%); */
    -webkit-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
}

.box-header.is-visible {
    /* -webkit-transform: translate3d(0, 100%, 0) translateX(-50%);
    transform: translate3d(0, 100%, 0) translateX(-50%); */
    top: -20px;
    left: 0;
    width: 100%;
    height: 80px;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
            box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.box-header.menu-is-open {
    background-color: rgba(255, 255, 255, 0.96);
}

.box-logo {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    /*图标居中 */
    /*position: absolute;
    padding: 20px 0px;
    left: 50%;
    transform: translateX(-50%);*/
}

.box-logo{ 
    height: 40px;
    width: 87px;
    background-image: url(https://lrdim.oss-cn-shenzhen.aliyuncs.com/logo/logo.svg);
    background-size: 87px 40px;
    background-repeat:no-repeat;
}


.box-primary-nav-trigger {
    /* position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px; */
    /* background-color: #fff; */
}

.box-primary-nav-trigger .box-menu-text {
    color: #232323;
    text-transform: uppercase;
    font-weight: 700;
    display: none;
}

.box-primary-nav-trigger .box-menu-icon {
    /* display: inline-block; */
    position: absolute;
    /* left: 50%; */
    top: 50%;
    bottom: auto;
    /* right: auto; */
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #232323;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    list-style: none;
}

.box-primary-nav-trigger .box-menu-icon::before,
.box-primary-nav-trigger .box-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #232323;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: top .3s, background-color 0s, -webkit-transform .3s;
    -o-transition: transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s;
}

.box-primary-nav-trigger .box-menu-icon::before {
    top: -5px;
}

.box-primary-nav-trigger .box-menu-icon::after {
    top: 5px;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before,
.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    background-color: #232323;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
        transform: rotate(135deg);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
        transform: rotate(225deg);
}

.box-primary-nav-trigger {
    /* width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;

    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
}

.box-primary-nav-trigger .box-menu-text {
    display: inline-block;
}

.box-primary-nav-trigger .box-menu-icon {
    /* left: auto; */
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%);
}

.box-primary-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    /*background: rgba(0, 0, 0, 0.96);*/
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    visibility:hidden;
}

.box-primary-nav li {
    font-size: 30px;
    font-size: 1.375rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 1em 0;
}

 /*菜单字体 */

.box-primary-nav a {
    display: inline-block;
    /*padding: .2em 1em;*/
    border-radius: 0.25em;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    color: #232323;
    text-decoration: none;
    /*font-weight: 900;*/
    font-size: 30px;
    font-weight: bolder;
}
.box-primary-nav a:focus {
    outline: none;
}

.no-touch .box-primary-nav a:hover {
    text-decoration: none;
    color: #999999;
}

/**/

.box-primary-nav.is-visible {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
        transform: translateY(0);
    opacity: 01;
    visibility: visible;

}

.box-primary-nav {
    /*padding: 150px 0 0;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* box-intro
==================================================*/

.box-intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
}

.box-intro .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.box-intro em {
    font-style: normal;
    text-transform: uppercase
}

/*b i:last-child {
    color: #ffbf00 !important;
}*/

.box-intro h5 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #999;
    line-height: 1.7
}

/* portfolio section
==================================================*/

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    margin: 0 20px;
}
 /* Hover项目 */
.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
    color: #232323;
    font-weight: 500;
}
 /*当前项目 */
.portfolio .categories-grid .categories ul li a.active {
    color: #232323;
    text-decoration: none;
    font-weight: 500;
}

.portfolio_filter {
    padding-left: 0px;

}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;

}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    -webkit-transition: all .3s cubic-bezier(.33,0,.2,1);
    -o-transition: all .3s cubic-bezier(.33,0,.2,1);
    transition: all .3s cubic-bezier(.33,0,.2,1);

}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 20px;
    -webkit-transition: all .3s cubic-bezier(.33,0,.2,1);
    -o-transition: all .3s cubic-bezier(.33,0,.2,1);
    transition: all .3s cubic-bezier(.33,0,.2,1);
    opacity: 0;
    margin: auto 30px;
    font-weight: 600;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
/*    -webkit-transform: translateX(0);
    transform: translateX(0);*/
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    color: #999999;
    font-size: 16px;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}



.portfolio-inner {
    padding-bottom: 40px !important;
    padding-top: 55px;
    width: auto;
}

.col-md-4 > a{
    border-bottom: none;
}


/* footer
==================================================*/

footer {
    padding: 80px 0 40px;
    text-align: center;
}

.copyright {
    color: #999999;
    margin-bottom: 0;
    font-size: 14px;
}

.copyright a{
    color: #999999;
}

footer img {
    margin: 0 auto;
}


/* backto top
==================================================*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 60px;
    line-height: 40px;
    font-size: 20px;
    right: 100px;
    text-align: center;
    color: #fff;
    background: #f4f4f4;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -o-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -o-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
    background: #f4f4f4;
}

.cd-top svg{
    fill: #232323;
}
/* About page
==================================================*/

.top-bar {
    padding: 160px 0 160px;
    text-align: center;
    margin: 0px 280px;
}

.top-bar h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.35;
}

.top-bar p {
    color: #777;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .5px;
}


.social-ul {
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.social-ul li {
    margin: 0 10px;
    float: left;
}

.social-ul li a {
    font-size: 25px;
    color: #555;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.social-ul li a:hover {
    color: #888;
}

/* single project page
==================================================*/

.cat-ul {
  padding-left: 0;
  list-style: none
}

.cat-ul li i {
  margin-right: 10px;
  color: #ffbf00;
}
/* .main-container{
      width: 200px;
  }
*/

.heroimg{
  width: 1080px;
  margin-bottom: 35px;
}

.skipbutton{
width: 198px;
height: 52px;
background: #232323;
border-radius: 6px;
text-align: center;
margin-top: -105px;
cursor: pointer;
text-decoration: none;
-webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.3);
-webkit-transition: all 0.3s,-webkit-transform 0.5s ease-out;
transition: all 0.3s,-webkit-transform 0.5s ease-out;
-o-transition: all 0.3s,transform 0.5s ease-out;
transition: all 0.3s,transform 0.5s ease-out;
transition: all 0.3s,transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
}

.skipbutton:hover{
-webkit-box-shadow: 0px 12px 40px -12px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 12px 40px -12px rgba(0, 0, 0, 0.6);
}

.skipbutton svg{
-webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
        transform: translateY(1px);
-webkit-transition: all 0.3s,-webkit-transform 0.5s ease-out;
transition: all 0.3s,-webkit-transform 0.5s ease-out;
-o-transition: all 0.3s,transform 0.5s ease-out;
transition: all 0.3s,transform 0.5s ease-out;
transition: all 0.3s,transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
}
.skipbutton:hover svg{
  fill: #999;

}

.skipbutton span{
color: white;
font-size: 18px;
line-height: 52px;
padding-left: 7.68px;
-webkit-transition: all 0.3s,-webkit-transform 0.5s ease-out;
transition: all 0.3s,-webkit-transform 0.5s ease-out;
-o-transition: all 0.3s,transform 0.5s ease-out;
transition: all 0.3s,transform 0.5s ease-out;
transition: all 0.3s,transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
}
.skipbutton:hover span{
  color: #999;
opacity: 1;
}


.sticky-footer{
margin-bottom: 40px;
}

/* Responsive media queries
==================================================*/

/* Replace Bootstrape CSS */
/* min-width xxpx = 浏览器宽度大于XXpx */
/* max-width xxpx = 浏览器宽度小于XXpx */

@media (min-width: 1080px){
    .main-container {
        width: 720px;
    }

    .homepage {
        width: 1080px;
        margin: 0 auto;

    }

    .portfolio_filter{
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .col-md-4{
        width: 50%;
    }

    /* .box-header {
        width: 1080px;
    } */
}



@media (min-width: 1340px){

    .portfolio_filter{
        margin-bottom: 50px;
    }

   .main-container {
        width: 750px; 
    }

    .col-md-6{
        padding-left: 0px;
    }

    .homepage {
        width: 1280px;
        margin: 0 auto;
    }

    .col-md-4{
        width: 33.33333333%;
    }

    /* .box-header {
        width: 1280px;
    } */
    
}

@media (min-width: 1500px){
    .homepage {
        width: 1440px;
    }

}


@media (min-width: 1980px){

    .homepage {
        width: 1920px;
    }

    .col-md-4{
        width: 25%;
    }

    /* .box-header {
        width: 1920px;
    } */
}

@media (max-width: 1980px){
    .vw{
      max-width: 1280px;
    }
}
@media (max-width: 1340px){
    .cd-top {
        right: 15px;
        bottom: 30px;
    }
    .box-logo{
      left: 20px;
  }
  .box-primary-nav-trigger .box-menu-icon{
    right: 20px;
  }
  
}

@media (max-width: 1080px) {

    .portfolio .categories-grid span {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .portfolio .categories-grid .categories ul li {
        text-align: center;
    }
    .portfolio .categories-grid .categories ul li a {
        margin: 10px;
    }
    .col-md-6 h3 {
        margin-top: 30px;
    }
    .top-bar{
        margin: 0px 60px;
    }
    .cat-ul{
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
    }
    .no-padding [class^="col-"] {
        padding: 0px;
    }

    .portfolio_filter{
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .box-header {
        /* position: fixed; */
        background: #fff;
        /* width: 100%; */
    }

    .box-logo{
        left: 20px;
    }

    .box-primary-nav-trigger{
        right: 20px;
    }

    .col-md-4{
        width: 50%;
        float: left;
    }

    .container-fluid{
    /* padding: 0 20px; */
    }
}

@media only screen and (max-width: 670px) {

    .box-headline {
        font-size: 100px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
/*    .box-primary-nav a {
        padding: 5px 1em;
        font-size: 14px;
    }*/
/*    .box-primary-nav {
        padding: 80px 0 0;
    }*/
/*    .box-primary-nav .box-social a {
        font-size: 23px;
    }*/
    .top-bar h1 {
        font-size: 40px;
        line-height: 1.35;
        font-weight: 500;

    }
    .portfolio .categories-grid .categories ul li {
        /*float: none;*/
        margin: auto;
    }
    .cat-ul{
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
    }
    .top-bar{
        margin: 0px 44px;
    }
    .container{
        padding: 0px;
    }
    .top-bar p{
        letter-spacing: .5px;
    }
    .col-md-4{
        width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    .box-headline {
        font-size: 80px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
/*    .main-container {
        padding: 35px 0;
    }*/
    .cat-ul{
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
    }

    p{
        font-size: 16px;
        margin: 5px 0 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media only screen and (max-width: 420px) {
    .box-headline {
        font-size: 50px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .top-bar{
        padding: 100px 0 100px;
        margin: 0px 10px;
    }
    .top-bar h1 {
        font-size: 30px;
        line-height: 1.35;
        /*padding: -100px 0 100px;*/
        font-weight: 500;

    }
    .cat-ul{
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
    }
    
    .copyright{
    font-size: 13px;
    }

    div, iframe{
        margin-left: auto;
        margin-right: auto;
    }

    .imgCaption{
    margin: 5px 0 20px;
    font-size: 13px;
    }

    .box-header {
        width: 100%;
        height: 60px;
    }
    .box-logo{
        left: 15px;
    }

    .box-primary-nav-trigger{
        right: 10px;
    }

    .col-md-12{
      padding-right: 0px;
      padding-left: 0px;
    }
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #1C1C1E;
  }
  .box-header {
    background: #1C1C1E;

  }

  .box-header.is-fixed{
    background: #1C1C1E;
    -webkit-box-shadow: 0 2px 2px -2px rgba(255,255,255,.15);
            box-shadow: 0 2px 2px -2px rgba(255,255,255,.15);
  }

  .box-header.menu-is-open{
    background: #2C2C2E;
  }
  .box-primary-nav-trigger .box-menu-icon,
  .box-primary-nav-trigger .box-menu-icon::before,
  .box-primary-nav-trigger .box-menu-icon:after {
    background-color: #FFFFFF;
  }
  .box-primary-nav-trigger .box-menu-icon.is-clicked::before,
  .box-primary-nav-trigger .box-menu-icon.is-clicked::before,
  .box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    background-color: #FFFFFF;
}
  /* 菜单背景板 */
  .box-primary-nav{
    background-color: #2C2C2E;
  }
  .box-primary-nav.is-visible{
    background-color: #2C2C2E;
  }
  .box-primary-nav a{
    color: #FFFFFF;
  }
  .box-logo{
    background-image: url(https://lrdim.oss-cn-shenzhen.aliyuncs.com/logo/logo_dark.svg);
  }

  .portfolio .categories-grid .categories ul li a {
    color: #EBEBF5;
    opacity: .6;
}
  /* Hover项目 */
  .portfolio .categories-grid .categories ul li a:hover,
  .portfolio .categories-grid .categories ul li a:focus {
    color: #FFFFFF;
    opacity: 1;
  }
  /*当前项目 */
  .portfolio .categories-grid .categories ul li a.active {
    color: #fff;
    opacity: 1;
  }
  .cd-top {
    background: rgba(70, 70, 70, .5);
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    background: rgba(70, 70, 70, .5);
}

.cd-top svg{
    fill: #ffffff;
}

h1{
  color: #ffffff;
}
.top-bar p{
  color: rgba(235,235,245,0.60);
}

.imgCaption a{
  color: rgba(235,235,245,0.60);
  border-bottom: 1px solid;

}

h2{
  color: #ffffff;
}

p{
  color: #ffffff;
}

p a{
  color: #ffffff;
}

.skipbutton{
  width: 198px;
  height: 52px;
  background: #3A3A3C;
  border-radius: 6px;
  text-align: center;
  margin-top: -105px;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s,-webkit-transform 0.5s ease-out;
  transition: all 0.3s,-webkit-transform 0.5s ease-out;
  -o-transition: all 0.3s,transform 0.5s ease-out;
  transition: all 0.3s,transform 0.5s ease-out;
  transition: all 0.3s,transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
  }
  
  .skipbutton:hover{
  -webkit-box-shadow: none;
          box-shadow: none;
  }
  
  .skipbutton svg{
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: all 0.3s,-webkit-transform 0.5s ease-out;
  transition: all 0.3s,-webkit-transform 0.5s ease-out;
  -o-transition: all 0.3s,transform 0.5s ease-out;
  transition: all 0.3s,transform 0.5s ease-out;
  transition: all 0.3s,transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
  opacity: 1;
  }
  .skipbutton:hover svg{
  fill: #8E8E93;
  }
  
  .skipbutton span{
  color: white;
  font-size: 18px;
  line-height: 52px;
  padding-left: 7.68px;
  -webkit-transition: all 0.3s,-webkit-transform 0.5s ease-out;
  transition: all 0.3s,-webkit-transform 0.5s ease-out;
  -o-transition: all 0.3s,transform 0.5s ease-out;
  transition: all 0.3s,transform 0.5s ease-out;
  transition: all 0.3s,transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
  opacity: 1;
  }
  .skipbutton:hover span{
  color: #8E8E93;
  }

  .no-touch .box-primary-nav a:hover {
    text-decoration: none;
    color: #8E8E93;
}
}