@charset "UTF-8";
:root * {
  -webkit-transition: color, background-color 0.3s cubic-bezier(0.11, 0, 0.5, 0);
  transition: color, background-color 0.3s cubic-bezier(0.11, 0, 0.5, 0);
}

:root {
  --primary-text-color: #222222;
  --secondary-text-color: #444444;
  --tertiary-text-color: #757575;
  --copied-text-color: green;
  --divider-color: #E6E6E6;
  --background-color: #F7F7F7;
  --background-color-hover: rgba(0,0,0,.04);
  --underline-color-hover: rgba(0,0,0,.24);
  --background-color-active: rgba(0,0,0,.08);
  --underline-color-active: rgba(0,0,0,.48);
  --outline-color-focus: rgba(0,0,0,.48);
  --button-background-color: #EDEDED;
  --button-background-color-hover: #E3E3E3;
  --button-background-color-active: #EDEDED;
  --popover-background-color: #FFFFFF;
}

:root .dark {
  --primary-text-color: #EEEEEE;
  --secondary-text-color: #D9D9D9;
  --tertiary-text-color: #999999;
  --copied-text-color: #64A838;
  --divider-color: #333333;
  --background-color: #1C1C1C;
  --button-background-color: #EDEDED;
  --background-color-hover: rgba(255,255,255,.12);
  --underline-color-hover: rgba(255,255,255,.24);
  --background-color-active: rgba(255,255,255,.16);
  --underline-color-active: rgba(255,255,255,.56);
  --outline-color-focus: rgba(255,255,255,.72);
  --button-background-color: hsl(0, 0%, 20%);
  --button-background-color-hover:hsl(0, 0%, 30%);
  --button-background-color-active:hsl(0, 0%, 20%);
  --popover-background-color: #2B2B2B;
}

:root .dark .theme-toggle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z' fill='rgba(153,153,153,.9)'/%3E%3C/svg%3E");
  bottom: 136px;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: SF Pro Display,-apple-system,BlinkMacSystemFont,HarmonyOS Sans,Roboto,Helvetica Neue,Helvetica,Segoe UI,Arial,PingFang SC,Hiragino Sans GB,Microsoft Yahei,sans-serif;
  word-spacing: -.05rem;
  line-height: 1.7;
  overflow-wrap: break-word;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  /*chrome、safari*/
  -moz-osx-font-smoothing: grayscale;
  /*firefox*/
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0s !important;
  transition: all 0s !important;
}

a:hover {
  background-color: var(--background-color-hover);
  background-image: linear-gradient(to top, var(--underline-color-hover), var(--underline-color-hover) 2px, transparent 0px);
  font-weight: 500;
  color: var(--primary-text-color);
}

@media (max-width: 768px) {
  a:hover {
    background-color: transparent;
  }
}

a:active {
  background-color: var(--background-color-active);
  background-image: linear-gradient(to top, var(--underline-color-active), var(--underline-color-active) 2px, transparent 0px);
  outline: 2px solid var(--underline-color-active);
  font-weight: 500;
  color: var(--primary-text-color);
}

a:focus {
  outline: 2px solid var(--outline-color-focus);
  outline-offset: 3px;
  font-weight: 500;
  color: var(--primary-text-color);
}

a:focus:not(:focus-visible) {
  outline: 0;
}

a[target="_blank"]:hover::after {
  content: '';
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='12' height='12'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 3v2H5v14h14v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6zm7.707 4.707L12 13.414 10.586 12l5.707-5.707L13 3h8v8l-3.293-3.293z' fill='rgba(255,255,255,1)' /%3E%3C/svg%3E") no-repeat center;
  width: 1em;
  height: 1em;
  display: inline-block;
  border-left: 2px solid transparent;
}

p {
  font-weight: normal;
  margin: .5rem 0 1.5rem 0;
  color: var(--secondary-text-color);
  font-size: 16px;
}

@media (max-width: 768px) {
  p {
    font-size: 16px;
  }
}

.nowrap {
  white-space: nowrap;
}

.wrap {
  max-width: 880px;
  margin: 5rem auto 0;
  padding: 18px;
}

@media (max-width: 768px) {
  .wrap {
    padding: 25px;
    margin: 1rem auto 0;
  }
}

.title-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 180px;
      grid-template-columns: 1fr 180px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 0px 0px;
      grid-template-areas: "grid-title grid-button";
}

.grid-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid-title;
}

.grid-button {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: grid-button;
  background-color: #eee;
  border-radius: 2px;
  padding: 12px 20px;
  text-align: center;
  place-self: center end;
  color: var(--secondary-text-color);
}

.title h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 0;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 40px;
    margin: .5rem 0 1rem;
  }
}

.title p {
  font-size: 20px;
  margin: 0 0 2rem;
}

@media (max-width: 768px) {
  .title p {
    font-size: 20px;
    margin: 0 0 2rem;
  }
}

.intro {
  width: 640px;
}

@media (max-width: 768px) {
  .intro {
    width: auto;
  }
}

.degree {
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .degree {
    margin: 1rem 0;
  }
}

.contact p {
  margin: .25rem 0;
}

.contact p .copied {
  font-size: 14px;
  padding: 0 .5rem;
  color: var(--copied-text-color);
  font-weight: 600;
  display: none;
  line-height: 0;
}

.contact p:nth-of-type(1) {
  margin-top: .5rem;
}

.contact .contact-title {
  display: inline-block;
  width: 5.5em;
  white-space: nowrap;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
  margin: 3rem 0;
}

@media (max-width: 768px) {
  .divider {
    margin: 2rem 0;
  }
}

.divider-2, .divider-3 {
  display: none;
}

@media (max-width: 768px) {
  .divider-2, .divider-3 {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--divider-color);
  }
}

.grid-container {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12ch 2fr 4fr;
      grid-template-columns: 12ch 2fr 4fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  gap: 2rem 1rem;
      grid-template-areas: "time-1 name-1 work-1" "time-2 name-2 work-2" "time-3 name-3 work-3";
}

@media (max-width: 768px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto 1px auto auto auto 1px auto auto auto;
        grid-template-rows: auto auto auto 1px auto auto auto 1px auto auto auto;
    gap: 1rem 0px;
        grid-template-areas: "time-1" "name-1" "work-1" "divider-2" "time-2" "name-2" "work-2" "divider-3" "time-3" "name-3" "work-3";
  }
}

.grid-container p {
  margin: .5rem 0 .8rem 0;
}

.grid-container p:first-child {
  margin: .5rem 0 .5rem 0;
}

@media (max-width: 768px) {
  .grid-container p:first-child {
    margin: 0;
  }
}

.grid-container p:last-child {
  margin-bottom: 0;
}

.grid-container strong {
  white-space: nowrap;
}

.grid-container .name p {
  white-space: nowrap;
}

.time-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: time-1;
}

.name-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name-1;
}

.work-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: work-1;
}

.divider-2 {
  grid-area: divider-2;
}

.time-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: time-2;
}

.name-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: name-2;
}

.work-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: work-2;
}

.divider-3 {
  grid-area: divider-3;
}

.time-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: time-3;
}

.name-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: name-3;
}

.work-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: work-3;
}

strong {
  font-weight: 600;
  color: var(--primary-text-color);
}

@media (max-width: 768px) {
  .time p, .name p, .work .title {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .time:not(:first-child) {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .time p {
    font-size: 20px;
  }
}

.portfolio {
  text-align: center;
  padding: 16px 24px;
  background-color: #EEE;
  max-width: 200px;
  margin: 60px auto 0;
}

a {
  display: inline-block;
}

.alignright {
  text-align: right;
}

.alignright::before {
  content: "\2002";
}

.alignright button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: var(--button-background-color);
  position: fixed;
  overflow: hidden;
  z-index: 1;
  margin-left: 96px;
  border-radius: 50%;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.alignright button:hover {
  background-color: var(--button-background-color-hover);
}

.alignright button:active {
  background-color: var(--button-background-color-active);
}

.alignright button:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.alignright button:focus {
  -webkit-box-shadow: 0 0 0 3px var(--background-color), 0 0 0 5px var(--outline-color-focus);
          box-shadow: 0 0 0 3px var(--background-color), 0 0 0 5px var(--outline-color-focus);
  outline: 0;
}

@media (max-width: 1200px) {
  .alignright button {
    right: 64px;
  }
}

.alignright .wechat {
  cursor: default;
}

@media (max-width: 768px) {
  .alignright {
    display: none;
  }
}

.skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
      grid-template-areas: ". ." ". .";
}

.skill div p:first-child {
  margin-bottom: 0;
}

.skill div p:not(:first-child) {
  margin-top: 0;
}

@media (max-width: 768px) {
  .skill {
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    gap: 0;
        grid-template-areas: "." "." "." ".";
  }
}

@media (max-width: 768px) {
  .skill p {
    margin: .5rem 0 .8rem 0;
  }
}

.top {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 8l6 6H6z' fill='rgba(153,153,153,.9)'/%3E%3C/svg%3E") no-repeat center/50%;
  bottom: 72px;
}

.theme-toggle {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11.38 2.019a7.5 7.5 0 1 0 10.6 10.6C21.662 17.854 17.316 22 12.001 22 6.477 22 2 17.523 2 12c0-5.315 4.146-9.661 9.38-9.981z' fill='rgba(153,153,153,.9)'/%3E%3C/svg%3E") no-repeat center/50%;
  bottom: 136px;
}

.wechat {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.574 13.711a.91.91 0 0 0 .898-.898c0-.498-.399-.898-.898-.898s-.898.4-.898.898c0 .5.4.898.898.898zm-4.425 0a.91.91 0 0 0 .898-.898c0-.498-.4-.898-.898-.898-.5 0-.898.4-.898.898 0 .5.399.898.898.898zm6.567 5.04a.347.347 0 0 0-.172.37c0 .048 0 .097.025.147.098.417.294 1.081.294 1.106 0 .073.025.122.025.172a.22.22 0 0 1-.221.22c-.05 0-.074-.024-.123-.048l-1.449-.836a.799.799 0 0 0-.344-.098c-.073 0-.147 0-.196.024-.688.197-1.4.295-2.161.295-3.66 0-6.607-2.457-6.607-5.505 0-3.047 2.947-5.505 6.607-5.505 3.659 0 6.606 2.458 6.606 5.505 0 1.647-.884 3.146-2.284 4.154zM16.673 8.099a9.105 9.105 0 0 0-.28-.005c-4.174 0-7.606 2.86-7.606 6.505 0 .554.08 1.09.228 1.6h-.089a9.963 9.963 0 0 1-2.584-.368c-.074-.025-.148-.025-.222-.025a.832.832 0 0 0-.418.123l-1.748 1.005c-.05.025-.099.05-.148.05a.273.273 0 0 1-.27-.27c0-.074.024-.123.049-.197.024-.024.246-.834.369-1.324 0-.05.024-.123.024-.172a.556.556 0 0 0-.221-.442C2.058 13.376 1 11.586 1 9.598 1 5.945 4.57 3 8.95 3c3.765 0 6.93 2.169 7.723 5.098zm-5.154.418c.573 0 1.026-.477 1.026-1.026 0-.573-.453-1.026-1.026-1.026s-1.026.453-1.026 1.026.453 1.026 1.026 1.026zm-5.26 0c.573 0 1.027-.477 1.027-1.026 0-.573-.454-1.026-1.027-1.026-.572 0-1.026.453-1.026 1.026s.454 1.026 1.026 1.026z' fill='rgba(153,153,153,.9)'/%3E%3C/svg%3E") no-repeat center/50%;
  bottom: 200px;
  padding-left: 40px;
  position: relative;
}

.wechat:hover + .popover,
.wechat:focus + .popover {
  visibility: visible;
  margin-left: -192px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  will-change: transform;
}

@media (max-width: 1200px) {
  .wechat:hover + .popover,
  .wechat:focus + .popover {
    right: 128px;
  }
}

.popover {
  position: fixed;
  display: inline-block;
  font-size: 20px;
  color: var(--primary-text-color);
  text-align: center;
  border-radius: 8px;
  padding: 20px 16px;
  bottom: 200px;
  background-color: var(--popover-background-color);
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  visibility: hidden;
  margin-left: -176px;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  opacity: 0;
}

.popover::after {
  content: '';
  position: absolute;
  right: -30px;
  bottom: 0;
  width: 30px;
  height: 60px;
  background-color: transparent;
}

.popover:hover, .popover:focus {
  visibility: visible;
  margin-left: -192px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

@media (max-width: 1200px) {
  .popover:hover, .popover:focus {
    right: 128px;
  }
}

@media (max-width: 1200px) {
  .popover {
    right: 112px;
  }
}

.popover .scan-text {
  font-weight: 500;
  padding-top: 12px;
}

.popover .scan-qrcode {
  width: 240px;
  height: 240px;
  background: url("/resume/qr-code.png") no-repeat center/100%;
}

footer {
  position: relative;
  font-size: 14px;
  color: var(--tertiary-text-color);
  margin-top: 100px;
  margin-bottom: 2rem;
  font-variant-numeric: tabular-nums;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .flex .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .flex .info .b_top, footer .flex .info .dot:nth-child(3) {
  visibility: hidden;
}

@media (max-width: 768px) {
  footer .flex .info .b_top, footer .flex .info .dot:nth-child(3) {
    visibility: visible;
  }
}

footer .flex .links {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 768px) {
  footer .flex .links {
    display: none;
  }
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    margin-bottom: 0;
  }
}

footer .dot {
  margin: 0 .25rem;
}

@media (max-width: 768px) {
  footer .download {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */