
others/.DS_Store
others/Box Portfolio.zip
others/website_logo.ai
others/李瑞东 - 个人简历.pdf
others/李瑞东-作品集.pdf
.DS_Store
*.sketch
:others/Box Portfolio.zip
:others/website_logo.ai
:others/李瑞东 - 个人简历.pdf
:others/李瑞东-作品集.pdf
index的副本.html
:others/首页/飞滴送水.jpg
:others/首页/震情速报.jpg
:others/首页/景点插画.jpg
:others/首页/数字消除.jpg
:others/首页/扁平插画.jpg
:others/首页/屈臣氏小店.jpg
:others/首页/地图首页.jpg
:others/首页/图标集.jpg
:others/首页/动效设计.jpg
:others/首页/Watsons.png
:others/首页/Wamzi.jpg
:others/首页/Pinocchio.jpg
:others/首页/Lottiefiles.jpg
html/WatsonsMiniShop的副本.html
